<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#" class="link-primary font-weight-500"><i class="icon-layers1 mr-1"></i> UI Kits</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Loaders</li>
      <span class="spacer"></span>
      <li class="breadcrumb-item no-driver">
        <a href="" class="text-muted link-primary">
          <i class="icon-bubbles"></i> Support</a>
      </li>
      <li class="breadcrumb-item">

        <a href="#" class="dropdown-toggle text-muted link-primary" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="icon-cog"></i> Settings</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href=""><i class="icon-key"></i> Account Sicurity</a>
          <a class="dropdown-item" href=""><i class="icon-stats-dots"></i> Analytics</a>
          <a class="dropdown-item" href=""><i class="icon-accessibility"></i> Accessibility</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""><i class="icon-cog"></i> All settings</a>
        </div>

      </li>
    </ol>

  </nav>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-4">Loading Spinners</div>
        <span class="spinner-glow spinner-glow-primary mr-5"></span>
        <span class="spinner-glow spinner-glow-secondary mr-5"></span>
        <span class="spinner-glow spinner-glow-warning mr-5"></span>
        <span class="spinner-glow spinner-glow-danger mr-5"></span>
        <span class="spinner-glow spinner-glow-success mr-5"></span>
        <span class="spinner-glow spinner-glow-info mr-5"></span>
        <span class="spinner-glow spinner-glow-light mr-5"></span>
        <span class="spinner-glow spinner-glow-dark mr-5"></span>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-4">Loading Spinners</div>
        <div class="spinner spinner-primary mr-3"></div>
        <div class="spinner spinner-secondary mr-3"></div>
        <div class="spinner spinner-warning mr-3"></div>
        <div class="spinner spinner-danger mr-3"></div>
        <div class="spinner spinner-success mr-3"></div>
        <div class="spinner spinner-info mr-3"></div>
        <div class="spinner spinner-light mr-3"></div>
        <div class="spinner spinner-dark mr-3"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-4">Loading Spinners</div>

        <div class="spinner-bubble spinner-bubble-primary m-5"></div>
        <div class="spinner-bubble spinner-bubble-secondary m-5"></div>
        <div class="spinner-bubble spinner-bubble-warning m-5"></div>
        <div class="spinner-bubble spinner-bubble-danger m-5"></div>
        <div class="spinner-bubble spinner-bubble-success m-5"></div>
        <div class="spinner-bubble spinner-bubble-info m-5"></div>
        <div class="spinner-bubble spinner-bubble-light m-5"></div>
        <div class="spinner-bubble spinner-bubble-dark m-5"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-4">Loading Spinners</div>
        <div class="loader-bubble loader-bubble-primary m-5"></div>
        <div class="loader-bubble loader-bubble-secondary m-5"></div>
        <div class="loader-bubble loader-bubble-success m-5"></div>
        <div class="loader-bubble loader-bubble-warning m-5"></div>
        <div class="loader-bubble loader-bubble-danger m-5"></div>
        <div class="loader-bubble loader-bubble-info m-5"></div>
        <div class="loader-bubble loader-bubble-light m-5"></div>
        <div class="loader-bubble loader-bubble-dark m-5"></div>
      </div>
    </div>
  </div>
</div>