<div class="app-footer o-hidden">
	<div class="row">
		<div class="col-md-9">
			<p class="text-20 font-family-1 font-weight-400 mb-0">Blumingo - Angular Bootstrap Admin Dashboard Template</p>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
				quis beatae officia saepe perferendis voluptatum minima eveniet voluptates dolorum,
				temporibus nisi maxime
				nesciunt totam repudiandae commodi sequi dolor quibusdam sunt.</p>
		</div>
	</div>
	<div class="footer-bottom border-top pt-3 row">

		<div class="left-side d-flex align-items-center col-md-6 col-sm-12">
			<p class="m-0">&copy; 2019.
				<a class="font-weight-500" href="https://themeforest.net/item/blumingo-angular-bootstrap-admin-dashboard-template-ui-kit/23230012"
				 target="_blank">Blumingo</a> by
				<a class="font-weight-500" href="https://themeforest.net/user/mh_rafi/portfolio">Mh. Rafi</a>
			</p>
		</div>

		<div class="right-side col-md-6 col-sm-12">

			<a class="btn btn-link text-danger border-transparent" href="https://themeforest.net/item/blumingo-angular-bootstrap-admin-dashboard-template-ui-kit/23230012"
			 target="_blank">
				<i class="icon-shopping-cart"></i>Purchase</a>

		</div>

	</div>
</div>