$icomoon-font-family: "blumingo" !default;
$icomoon-font-path: "fonts" !default;

$icon-activity: "\e900";
$icon-airplay: "\e901";
$icon-alert-circle: "\e902";
$icon-alert-octagon: "\e903";
$icon-alert-triangle: "\e904";
$icon-align-center: "\e905";
$icon-align-justify: "\e906";
$icon-align-left: "\e907";
$icon-align-right: "\e908";
$icon-anchor: "\e909";
$icon-aperture: "\e90a";
$icon-archive: "\e90b";
$icon-arrow-down1: "\e90c";
$icon-arrow-down-circle: "\e90d";
$icon-arrow-down-left1: "\e90e";
$icon-arrow-down-right1: "\e90f";
$icon-arrow-left1: "\e910";
$icon-arrow-left-circle: "\e911";
$icon-arrow-right1: "\e912";
$icon-arrow-right-circle: "\e913";
$icon-arrow-up1: "\e914";
$icon-arrow-up-circle: "\e915";
$icon-arrow-up-left1: "\e916";
$icon-arrow-up-right1: "\e917";
$icon-at-sign: "\e918";
$icon-award: "\e919";
$icon-bar-chart: "\e91a";
$icon-bar-chart-2: "\e91b";
$icon-battery: "\e91c";
$icon-battery-charging: "\e91d";
$icon-bell1: "\e91e";
$icon-bell-off: "\e91f";
$icon-bluetooth: "\e920";
$icon-bold1: "\e921";
$icon-book1: "\e922";
$icon-book-open: "\e923";
$icon-bookmark1: "\e924";
$icon-box: "\e925";
$icon-briefcase1: "\e926";
$icon-calendar1: "\e927";
$icon-camera1: "\e928";
$icon-camera-off: "\e929";
$icon-cast: "\e92a";
$icon-check: "\e92b";
$icon-check-circle: "\e92c";
$icon-check-square: "\e92d";
$icon-chevron-down: "\e92e";
$icon-chevron-left: "\e92f";
$icon-chevron-right: "\e930";
$icon-chevron-up: "\e931";
$icon-chevrons-down: "\e932";
$icon-chevrons-left: "\e933";
$icon-chevrons-right: "\e934";
$icon-chevrons-up: "\e935";
$icon-chrome1: "\e936";
$icon-circle: "\e937";
$icon-clipboard1: "\e938";
$icon-clock1: "\e939";
$icon-cloud1: "\e93a";
$icon-cloud-drizzle: "\e93b";
$icon-cloud-lightning: "\e93c";
$icon-cloud-off: "\e93d";
$icon-cloud-rain: "\e93e";
$icon-cloud-snow: "\e93f";
$icon-code: "\e940";
$icon-codepen1: "\e941";
$icon-command1: "\e942";
$icon-compass1: "\e943";
$icon-copy1: "\e944";
$icon-corner-down-left: "\e945";
$icon-corner-down-right: "\e946";
$icon-corner-left-down: "\e947";
$icon-corner-left-up: "\e948";
$icon-corner-right-down: "\e949";
$icon-corner-right-up: "\e94a";
$icon-corner-up-left: "\e94b";
$icon-corner-up-right: "\e94c";
$icon-cpu: "\e94d";
$icon-credit-card1: "\e94e";
$icon-crop1: "\e94f";
$icon-crosshair: "\e950";
$icon-database1: "\e951";
$icon-delete: "\e952";
$icon-disc: "\e953";
$icon-dollar-sign: "\e954";
$icon-download1: "\e955";
$icon-download-cloud: "\e956";
$icon-droplet1: "\e957";
$icon-edit: "\e958";
$icon-edit-2: "\e959";
$icon-edit-3: "\e95a";
$icon-external-link: "\e95b";
$icon-eye1: "\e95c";
$icon-eye-off: "\e95d";
$icon-facebook1: "\e95e";
$icon-fast-forward: "\e95f";
$icon-feather: "\e960";
$icon-file: "\e961";
$icon-file-minus: "\e962";
$icon-file-plus: "\e963";
$icon-file-text1: "\e964";
$icon-film1: "\e965";
$icon-filter1: "\e966";
$icon-flag1: "\e967";
$icon-folder1: "\e968";
$icon-folder-minus1: "\e969";
$icon-folder-plus1: "\e96a";
$icon-gift1: "\e96b";
$icon-git-branch: "\e96c";
$icon-git-commit: "\e96d";
$icon-git-merge: "\e96e";
$icon-git-pull-request: "\e96f";
$icon-github1: "\e970";
$icon-gitlab: "\e971";
$icon-globe: "\e972";
$icon-grid: "\e973";
$icon-hard-drive: "\e974";
$icon-hash: "\e975";
$icon-headphones1: "\e976";
$icon-heart1: "\e977";
$icon-help-circle: "\e978";
$icon-home1: "\e979";
$icon-image1: "\e97a";
$icon-inbox: "\e97b";
$icon-info1: "\e97c";
$icon-instagram1: "\e97d";
$icon-italic1: "\e97e";
$icon-layers: "\e97f";
$icon-layout: "\e980";
$icon-life-buoy: "\e981";
$icon-link1: "\e982";
$icon-link-2: "\e983";
$icon-linkedin1: "\e984";
$icon-list1: "\e985";
$icon-loader: "\e986";
$icon-lock1: "\e987";
$icon-log-in: "\e988";
$icon-log-out: "\e989";
$icon-mail1: "\e98a";
$icon-map1: "\e98b";
$icon-map-pin: "\e98c";
$icon-maximize: "\e98d";
$icon-maximize-2: "\e98e";
$icon-menu1: "\e98f";
$icon-message-circle: "\e990";
$icon-message-square: "\e991";
$icon-mic1: "\e992";
$icon-mic-off: "\e993";
$icon-minimize: "\e994";
$icon-minimize-2: "\e995";
$icon-minus1: "\e996";
$icon-minus-circle: "\e997";
$icon-minus-square: "\e998";
$icon-monitor: "\e999";
$icon-moon: "\e99a";
$icon-more-horizontal: "\e99b";
$icon-more-vertical: "\e99c";
$icon-move: "\e99d";
$icon-music1: "\e99e";
$icon-navigation: "\e99f";
$icon-navigation-2: "\e9a0";
$icon-octagon: "\e9a1";
$icon-package: "\e9a2";
$icon-paperclip: "\e9a3";
$icon-pause1: "\e9a4";
$icon-pause-circle: "\e9a5";
$icon-percent: "\e9a6";
$icon-phone1: "\e9a7";
$icon-phone-call: "\e9a8";
$icon-phone-forwarded: "\e9a9";
$icon-phone-incoming: "\e9aa";
$icon-phone-missed: "\e9ab";
$icon-phone-off: "\e9ac";
$icon-phone-outgoing: "\e9ad";
$icon-pie-chart1: "\e9ae";
$icon-play1: "\e9af";
$icon-play-circle: "\e9b0";
$icon-plus1: "\e9b1";
$icon-plus-circle: "\e9b2";
$icon-plus-square: "\e9b3";
$icon-pocket: "\e9b4";
$icon-power1: "\e9b5";
$icon-printer1: "\e9b6";
$icon-radio: "\e9b7";
$icon-refresh-ccw: "\e9b8";
$icon-refresh-cw: "\e9b9";
$icon-repeat: "\e9ba";
$icon-rewind: "\e9bb";
$icon-rotate-ccw: "\e9bc";
$icon-rotate-cw: "\e9bd";
$icon-rss1: "\e9be";
$icon-save: "\e9bf";
$icon-scissors1: "\e9c0";
$icon-search1: "\e9c1";
$icon-send: "\e9c2";
$icon-server: "\e9c3";
$icon-settings: "\e9c4";
$icon-share1: "\e9c5";
$icon-share-2: "\e9c6";
$icon-shield1: "\e9c7";
$icon-shield-off: "\e9c8";
$icon-shopping-bag: "\e9c9";
$icon-shopping-cart: "\e9ca";
$icon-shuffle1: "\e9cb";
$icon-sidebar: "\e9cc";
$icon-skip-back: "\e9cd";
$icon-skip-forward: "\e9ce";
$icon-slack: "\e9cf";
$icon-slash: "\e9d0";
$icon-sliders: "\e9d1";
$icon-smartphone: "\e9d2";
$icon-speaker: "\e9d3";
$icon-square: "\e9d4";
$icon-star: "\e9d5";
$icon-stop-circle: "\e9d6";
$icon-sun1: "\e9d7";
$icon-sunrise: "\e9d8";
$icon-sunset: "\e9d9";
$icon-tablet1: "\e9da";
$icon-tag: "\e9db";
$icon-target1: "\e9dc";
$icon-terminal1: "\e9dd";
$icon-thermometer: "\e9de";
$icon-thumbs-down: "\e9df";
$icon-thumbs-up: "\e9e0";
$icon-toggle-left: "\e9e1";
$icon-toggle-right: "\e9e2";
$icon-trash: "\e9e3";
$icon-trash-2: "\e9e4";
$icon-trending-down: "\e9e5";
$icon-trending-up: "\e9e6";
$icon-triangle: "\e9e7";
$icon-truck1: "\e9e8";
$icon-tv1: "\e9e9";
$icon-twitter1: "\e9ea";
$icon-type: "\e9eb";
$icon-umbrella: "\e9ec";
$icon-underline1: "\e9ed";
$icon-unlock: "\e9ee";
$icon-upload1: "\e9ef";
$icon-upload-cloud: "\e9f0";
$icon-user1: "\e9f1";
$icon-user-check1: "\e9f2";
$icon-user-minus1: "\e9f3";
$icon-user-plus1: "\e9f4";
$icon-user-x: "\e9f5";
$icon-users1: "\e9f6";
$icon-video: "\e9f7";
$icon-video-off: "\e9f8";
$icon-voicemail: "\e9f9";
$icon-volume: "\e9fa";
$icon-volume-1: "\e9fb";
$icon-volume-2: "\e9fc";
$icon-volume-x: "\e9fd";
$icon-watch: "\e9fe";
$icon-wifi: "\e9ff";
$icon-wifi-off: "\ea00";
$icon-wind: "\ea01";
$icon-x: "\ea02";
$icon-x-circle: "\ea03";
$icon-x-square: "\ea04";
$icon-youtube1: "\ea05";
$icon-zap: "\ea06";
$icon-zap-off: "\ea07";
$icon-zoom-in1: "\ea08";
$icon-zoom-out1: "\ea09";
$icon-add-outline: "\ea0a";
$icon-add-solid: "\ea0b";
$icon-adjust: "\ea0c";
$icon-airplane1: "\ea0d";
$icon-album: "\ea0e";
$icon-align-center1: "\ea0f";
$icon-align-justified: "\ea10";
$icon-align-left1: "\ea11";
$icon-align-right1: "\ea12";
$icon-anchor1: "\ea13";
$icon-announcement: "\ea14";
$icon-apparel: "\ea15";
$icon-arrow-down3: "\ea16";
$icon-arrow-left3: "\ea17";
$icon-arrow-outline-down: "\ea18";
$icon-arrow-outline-left: "\ea19";
$icon-arrow-outline-right: "\ea1a";
$icon-arrow-outline-up: "\ea1b";
$icon-arrow-right3: "\ea1c";
$icon-arrow-thick-down: "\ea1d";
$icon-arrow-thick-left: "\ea1e";
$icon-arrow-thick-right: "\ea1f";
$icon-arrow-thick-up: "\ea20";
$icon-arrow-thin-down: "\ea21";
$icon-arrow-thin-left: "\ea22";
$icon-arrow-thin-right: "\ea23";
$icon-arrow-thin-up: "\ea24";
$icon-arrow-up3: "\ea25";
$icon-artist: "\ea26";
$icon-at-symbol: "\ea27";
$icon-attachment1: "\ea28";
$icon-backspace: "\ea29";
$icon-backward1: "\ea2a";
$icon-backward-step: "\ea2b";
$icon-badge: "\ea2c";
$icon-battery-full: "\ea2d";
$icon-battery-half: "\ea2e";
$icon-battery-low: "\ea2f";
$icon-beverage: "\ea30";
$icon-block: "\ea31";
$icon-bluetooth1: "\ea32";
$icon-bolt: "\ea33";
$icon-book-reference: "\ea34";
$icon-bookmark2: "\ea35";
$icon-bookmarkcopy2: "\ea36";
$icon-bookmarkcopy3: "\ea37";
$icon-bookmark-outline: "\ea38";
$icon-bookmark-outline-add: "\ea39";
$icon-border-all: "\ea3a";
$icon-border-bottom: "\ea3b";
$icon-border-horizontal: "\ea3c";
$icon-border-inner: "\ea3d";
$icon-border-left: "\ea3e";
$icon-border-none: "\ea3f";
$icon-border-outer: "\ea40";
$icon-border-right: "\ea41";
$icon-border-top: "\ea42";
$icon-border-vertical: "\ea43";
$icon-box1: "\ea44";
$icon-brightness-down: "\ea45";
$icon-brightness-up: "\ea46";
$icon-browser-window: "\ea47";
$icon-browser-window-new: "\ea48";
$icon-browser-window-open: "\ea49";
$icon-bug1: "\ea4a";
$icon-buoy: "\ea4b";
$icon-calculator1: "\ea4c";
$icon-calendar2: "\ea4d";
$icon-camera2: "\ea4e";
$icon-chart: "\ea4f";
$icon-chart-bar: "\ea50";
$icon-chart-pie: "\ea51";
$icon-chat-bubble-dots: "\ea52";
$icon-checkmark1: "\ea53";
$icon-checkmark-outline: "\ea54";
$icon-cheveron-down: "\ea55";
$icon-cheveron-left: "\ea56";
$icon-cheveron-outline-down: "\ea57";
$icon-cheveron-outline-left: "\ea58";
$icon-cheveron-outline-right: "\ea59";
$icon-cheveron-outline-up: "\ea5a";
$icon-cheveron-right: "\ea5b";
$icon-cheveron-up: "\ea5c";
$icon-clipboard2: "\ea5d";
$icon-close: "\ea5e";
$icon-close-outline: "\ea5f";
$icon-close-solid: "\ea60";
$icon-cloud2: "\ea61";
$icon-cloud-upload1: "\ea62";
$icon-code1: "\ea63";
$icon-coffee: "\ea64";
$icon-cog1: "\ea65";
$icon-color-palette: "\ea66";
$icon-compose: "\ea67";
$icon-computer-desktop: "\ea68";
$icon-computer-laptop: "\ea69";
$icon-conversation: "\ea6a";
$icon-copy2: "\ea6b";
$icon-credit-card2: "\ea6c";
$icon-currency-dollar: "\ea6d";
$icon-dashboard: "\ea6e";
$icon-date-add: "\ea6f";
$icon-dial-pad: "\ea70";
$icon-directions: "\ea71";
$icon-document: "\ea72";
$icon-document-add: "\ea73";
$icon-dots-horizontal-double: "\ea74";
$icon-dots-horizontal-triple: "\ea75";
$icon-download4: "\ea76";
$icon-duplicate: "\ea77";
$icon-edit-copy: "\ea78";
$icon-edit-crop: "\ea79";
$icon-edit-cut: "\ea7a";
$icon-edit-pencil: "\ea7b";
$icon-education: "\ea7c";
$icon-envelope: "\ea7d";
$icon-exclamation-outline: "\ea7e";
$icon-exclamation-solid: "\ea7f";
$icon-explore: "\ea80";
$icon-factory: "\ea81";
$icon-fast-forward1: "\ea82";
$icon-fast-rewind: "\ea83";
$icon-film2: "\ea84";
$icon-filter2: "\ea85";
$icon-flag2: "\ea86";
$icon-flashlight: "\ea87";
$icon-folder2: "\ea88";
$icon-folder-outline: "\ea89";
$icon-folder-outline-add: "\ea8a";
$icon-format-bold: "\ea8b";
$icon-format-font-size: "\ea8c";
$icon-format-italic: "\ea8d";
$icon-format-text-size: "\ea8e";
$icon-format-underline: "\ea8f";
$icon-forward1: "\ea90";
$icon-forward-step: "\ea91";
$icon-gift2: "\ea92";
$icon-globe1: "\ea93";
$icon-hand-stop: "\ea94";
$icon-hard-drive1: "\ea95";
$icon-headphones2: "\ea96";
$icon-heart2: "\ea97";
$icon-home4: "\ea98";
$icon-hot: "\ea99";
$icon-hour-glass1: "\ea9a";
$icon-inbox1: "\ea9b";
$icon-inbox-check: "\ea9c";
$icon-inbox-download: "\ea9d";
$icon-inbox-full: "\ea9e";
$icon-indent-decrease1: "\ea9f";
$icon-indent-increase1: "\eaa0";
$icon-information-outline: "\eaa1";
$icon-information-solid: "\eaa2";
$icon-key1: "\eaa3";
$icon-keyboard1: "\eaa4";
$icon-layers1: "\eaa5";
$icon-library1: "\eaa6";
$icon-light-bulb: "\eaa7";
$icon-link2: "\eaa8";
$icon-list3: "\eaa9";
$icon-list-add: "\eaaa";
$icon-list-bullet: "\eaab";
$icon-load-balancer: "\eaac";
$icon-location1: "\eaad";
$icon-location-current: "\eaae";
$icon-location-food: "\eaaf";
$icon-location-gas-station: "\eab0";
$icon-location-hotel: "\eab1";
$icon-location-marina: "\eab2";
$icon-location-park: "\eab3";
$icon-location-restroom: "\eab4";
$icon-location-shopping: "\eab5";
$icon-lock-closed: "\eab6";
$icon-lock-open: "\eab7";
$icon-map3: "\eab8";
$icon-menu5: "\eab9";
$icon-mic2: "\eaba";
$icon-minus-outline: "\eabb";
$icon-minus-solid: "\eabc";
$icon-mobile-devices: "\eabd";
$icon-mood-happy-outline: "\eabe";
$icon-mood-happy-solid: "\eabf";
$icon-mood-neutral-outline: "\eac0";
$icon-mood-neutral-solid: "\eac1";
$icon-mood-sad-outline: "\eac2";
$icon-mood-sad-solid: "\eac3";
$icon-mouse: "\eac4";
$icon-music-album: "\eac5";
$icon-music-artist: "\eac6";
$icon-music-notes: "\eac7";
$icon-music-playlist: "\eac8";
$icon-navigation-more: "\eac9";
$icon-network: "\eaca";
$icon-news-paper: "\eacb";
$icon-notification1: "\eacc";
$icon-notifications: "\eacd";
$icon-notifications-outline: "\eace";
$icon-paste1: "\eacf";
$icon-pause3: "\ead0";
$icon-pause-outline: "\ead1";
$icon-pause-solid: "\ead2";
$icon-pen-tool: "\ead3";
$icon-phone2: "\ead4";
$icon-photo: "\ead5";
$icon-php-elephant: "\ead6";
$icon-pin: "\ead7";
$icon-play4: "\ead8";
$icon-play-outline: "\ead9";
$icon-playlist: "\eada";
$icon-plugin: "\eadb";
$icon-portfolio: "\eadc";
$icon-printer2: "\eadd";
$icon-pylon: "\eade";
$icon-question1: "\eadf";
$icon-queue: "\eae0";
$icon-radar: "\eae1";
$icon-radarcopy2: "\eae2";
$icon-radio1: "\eae3";
$icon-refresh: "\eae4";
$icon-reload: "\eae5";
$icon-reply1: "\eae6";
$icon-reply-all: "\eae7";
$icon-repost: "\eae8";
$icon-save-disk: "\eae9";
$icon-screen-full: "\eaea";
$icon-search2: "\eaeb";
$icon-send1: "\eaec";
$icon-servers: "\eaed";
$icon-share3: "\eaee";
$icon-share-01: "\eaef";
$icon-share-alt: "\eaf0";
$icon-shield2: "\eaf1";
$icon-shopping-cart1: "\eaf2";
$icon-show-sidebar: "\eaf3";
$icon-shuffle2: "\eaf4";
$icon-stand-by: "\eaf5";
$icon-star-full1: "\eaf6";
$icon-station: "\eaf7";
$icon-step-backward: "\eaf8";
$icon-step-forward: "\eaf9";
$icon-stethoscope: "\eafa";
$icon-store-front: "\eafb";
$icon-stroke-width: "\eafc";
$icon-subdirectory-left: "\eafd";
$icon-subdirectory-right: "\eafe";
$icon-swap: "\eaff";
$icon-tablet2: "\eb00";
$icon-tag1: "\eb01";
$icon-target2: "\eb02";
$icon-text-box: "\eb03";
$icon-text-decoration: "\eb04";
$icon-thermometer1: "\eb05";
$icon-thumbs-down1: "\eb06";
$icon-thumbs-up1: "\eb07";
$icon-ticket1: "\eb08";
$icon-time: "\eb09";
$icon-timer: "\eb0a";
$icon-toolscopy: "\eb0b";
$icon-translate: "\eb0c";
$icon-trash1: "\eb0d";
$icon-travel: "\eb0e";
$icon-travel-bus: "\eb0f";
$icon-travel-car: "\eb10";
$icon-travel-case: "\eb11";
$icon-travel-taxi-cab: "\eb12";
$icon-travel-train: "\eb13";
$icon-travel-walk: "\eb14";
$icon-trophy1: "\eb15";
$icon-tuning: "\eb16";
$icon-upload4: "\eb17";
$icon-usb: "\eb18";
$icon-user2: "\eb19";
$icon-user-add: "\eb1a";
$icon-user-group: "\eb1b";
$icon-user-solid-circle: "\eb1c";
$icon-user-solid-square: "\eb1d";
$icon-vector: "\eb1e";
$icon-video-camera1: "\eb1f";
$icon-view-carousel: "\eb20";
$icon-view-column: "\eb21";
$icon-view-hide: "\eb22";
$icon-view-list: "\eb23";
$icon-view-show: "\eb24";
$icon-view-tile: "\eb25";
$icon-volume-down: "\eb26";
$icon-volume-mute1: "\eb27";
$icon-volume-off: "\eb28";
$icon-volume-up: "\eb29";
$icon-wallet: "\eb2a";
$icon-watch1: "\eb2b";
$icon-window: "\eb2c";
$icon-window-new: "\eb2d";
$icon-window-open: "\eb2e";
$icon-wrench1: "\eb2f";
$icon-yin-yang: "\eb30";
$icon-zoom-in2: "\eb31";
$icon-zoom-out2: "\eb32";
$icon-plangrid: "\eb33";
$icon-bootstrap: "\eb34";
$icon-medium: "\eb35";
$icon-origin: "\eb36";
$icon-rollup-dot-js: "\eb37";
$icon-statamic: "\eb38";
$icon-codewars: "\eb39";
$icon-wii: "\eb3a";
$icon-ghost: "\eb3b";
$icon-aventrix: "\eb3c";
$icon-vue-dot-js: "\eb3d";
$icon-adobeillustrator: "\eb3e";
$icon-plex: "\eb3f";
$icon-imdb: "\eb40";
$icon-applepay: "\eb41";
$icon-steam1: "\eb42";
$icon-toptal: "\eb43";
$icon-gnusocial: "\eb44";
$icon-tumblr1: "\eb45";
$icon-pingup: "\eb46";
$icon-csswizardry: "\eb47";
$icon-ovh: "\eb48";
$icon-coffeescript: "\eb49";
$icon-virb: "\eb4a";
$icon-tripadvisor: "\eb4b";
$icon-sourceforge: "\eb4c";
$icon-bandcamp: "\eb4d";
$icon-wattpad: "\eb4e";
$icon-strava: "\eb4f";
$icon-dropbox1: "\eb50";
$icon-tesla: "\eb51";
$icon-processwire: "\eb52";
$icon-microsoft: "\eb53";
$icon-protonmail: "\eb54";
$icon-squarespace: "\eb55";
$icon-wheniwork: "\eb56";
$icon-webpack: "\eb57";
$icon-bigcartel: "\eb58";
$icon-microsoftword: "\eb59";
$icon-javascript: "\eb5a";
$icon-samsung: "\eb5b";
$icon-yelp1: "\eb5c";
$icon-cloudflare: "\eb5d";
$icon-deviantart1: "\eb5e";
$icon-verizon: "\eb5f";
$icon-googlekeep: "\eb60";
$icon-tails: "\eb61";
$icon-pingdom: "\eb62";
$icon-hexo: "\eb63";
$icon-airbnb: "\eb64";
$icon-linux: "\eb65";
$icon-foursquare1: "\eb66";
$icon-linewebtoon: "\eb67";
$icon-drupal: "\eb68";
$icon-sega: "\eb69";
$icon-gmail: "\eb6a";
$icon-android1: "\eb6b";
$icon-adobe: "\eb6c";
$icon-ethereum: "\eb6d";
$icon-odnoklassniki: "\eb6e";
$icon-khanacademy: "\eb6f";
$icon-microsoftexcel: "\eb70";
$icon-tinder: "\eb71";
$icon-geocaching: "\eb72";
$icon-gitlab1: "\eb73";
$icon-koding: "\eb74";
$icon-addthis: "\eb75";
$icon-visa: "\eb76";
$icon-moo: "\eb77";
$icon-sass: "\eb78";
$icon-rust: "\eb79";
$icon-nintendo: "\eb7a";
$icon-furrynetwork: "\eb7b";
$icon-firebase: "\eb7c";
$icon-java: "\eb7d";
$icon-viber: "\eb7e";
$icon-quantcast: "\eb7f";
$icon-ello1: "\eb80";
$icon-wix: "\eb81";
$icon-macys: "\eb82";
$icon-bitbucket: "\eb83";
$icon-twoo: "\eb84";
$icon-simpleicons: "\eb85";
$icon-github2: "\eb86";
$icon-haskell: "\eb87";
$icon-jquery: "\eb88";
$icon-node-dot-js: "\eb89";
$icon-tapas: "\eb8a";
$icon-feedly: "\eb8b";
$icon-americanexpress: "\eb8c";
$icon-everplaces: "\eb8d";
$icon-feathub: "\eb8e";
$icon-etsy: "\eb8f";
$icon-hatenabookmark: "\eb90";
$icon-gov-dot-uk: "\eb91";
$icon-microsoftonedrive: "\eb92";
$icon-px: "\eb93";
$icon-myspace: "\eb94";
$icon-homify: "\eb95";
$icon-netlify: "\eb96";
$icon-nintendoswitch: "\eb97";
$icon-sitepoint: "\eb98";
$icon-sparkpost: "\eb99";
$icon-spreaker: "\eb9a";
$icon-keybase: "\eb9b";
$icon-umbraco: "\eb9c";
$icon-joomla1: "\eb9d";
$icon-udacity: "\eb9e";
$icon-vsco: "\eb9f";
$icon-microsoftpowerpoint: "\eba0";
$icon-kaggle: "\eba1";
$icon-clockify: "\eba2";
$icon-signal: "\eba3";
$icon-kirby: "\eba4";
$icon-wikipedia1: "\eba5";
$icon-gnu: "\eba6";
$icon-nextcloud: "\eba7";
$icon-npm1: "\eba8";
$icon-internetexplorer: "\eba9";
$icon-sentry: "\ebaa";
$icon-dell: "\ebab";
$icon-sprint: "\ebac";
$icon-zapier: "\ebad";
$icon-xero: "\ebae";
$icon-gatsby: "\ebaf";
$icon-ycombinator: "\ebb0";
$icon-about-dot-me: "\ebb1";
$icon-boost: "\ebb2";
$icon-mastodon: "\ebb3";
$icon-letterboxd: "\ebb4";
$icon-fitbit: "\ebb5";
$icon-angular: "\ebb6";
$icon-untappd: "\ebb7";
$icon-vk1: "\ebb8";
$icon-vimeo1: "\ebb9";
$icon-discourse: "\ebba";
$icon-wiiu: "\ebbb";
$icon-eventbrite: "\ebbc";
$icon-symfony: "\ebbd";
$icon-gumroad: "\ebbe";
$icon-tencentqq: "\ebbf";
$icon-castorama: "\ebc0";
$icon-mozilla: "\ebc1";
$icon-fnac: "\ebc2";
$icon-buzzfeed: "\ebc3";
$icon-prismic: "\ebc4";
$icon-instagram2: "\ebc5";
$icon-xsplit: "\ebc6";
$icon-json: "\ebc7";
$icon-shopify: "\ebc8";
$icon-oculus: "\ebc9";
$icon-podcasts: "\ebca";
$icon-ruby: "\ebcb";
$icon-googlehangouts: "\ebcc";
$icon-yammer: "\ebcd";
$icon-instacart: "\ebce";
$icon-safari1: "\ebcf";
$icon-nucleo: "\ebd0";
$icon-sinaweibo: "\ebd1";
$icon-songkick: "\ebd2";
$icon-trakt: "\ebd3";
$icon-python: "\ebd4";
$icon-jekyll: "\ebd5";
$icon-pocket1: "\ebd6";
$icon-heroku: "\ebd7";
$icon-treehouse: "\ebd8";
$icon-docker: "\ebd9";
$icon-git1: "\ebda";
$icon-blogger1: "\ebdb";
$icon-hulu: "\ebdc";
$icon-cakephp: "\ebdd";
$icon-riseup: "\ebde";
$icon-sap: "\ebdf";
$icon-discover: "\ebe0";
$icon-monkeytie: "\ebe1";
$icon-mailchimp: "\ebe2";
$icon-mediatemple: "\ebe3";
$icon-raspberrypi: "\ebe4";
$icon-digg: "\ebe5";
$icon-envato: "\ebe6";
$icon-nvidia: "\ebe7";
$icon-iconjar: "\ebe8";
$icon-last-dot-fm: "\ebe9";
$icon-bitcoin: "\ebea";
$icon-delicious1: "\ebeb";
$icon-zillow: "\ebec";
$icon-codeforces: "\ebed";
$icon-xcode: "\ebee";
$icon-saucelabs: "\ebef";
$icon-adobetypekit: "\ebf0";
$icon-hackerrank: "\ebf1";
$icon-disqus: "\ebf2";
$icon-subversion: "\ebf3";
$icon-telegram1: "\ebf4";
$icon-kik: "\ebf5";
$icon-humblebundle: "\ebf6";
$icon-salesforce: "\ebf7";
$icon-meetup: "\ebf8";
$icon-vim: "\ebf9";
$icon-goodreads: "\ebfa";
$icon-styleshare: "\ebfb";
$icon-sellfy: "\ebfc";
$icon-invision: "\ebfd";
$icon-archlinux: "\ebfe";
$icon-mix: "\ebff";
$icon-slides: "\ec00";
$icon-asana: "\ec01";
$icon-wpengine: "\ec02";
$icon-garmin: "\ec03";
$icon-zendesk: "\ec04";
$icon-magento: "\ec05";
$icon-houzz: "\ec06";
$icon-freecodecamp: "\ec07";
$icon-inkscape: "\ec08";
$icon-googleplay: "\ec09";
$icon-lua: "\ec0a";
$icon-aurelia: "\ec0b";
$icon-toggl: "\ec0c";
$icon-gerrit: "\ec0d";
$icon-rss3: "\ec0e";
$icon-codecademy: "\ec0f";
$icon-jira: "\ec10";
$icon-spotify1: "\ec11";
$icon-intercom: "\ec12";
$icon-microgenetics: "\ec13";
$icon-flipboard: "\ec14";
$icon-t-mobile: "\ec15";
$icon-superuser: "\ec16";
$icon-teespring: "\ec17";
$icon-runkeeper: "\ec18";
$icon-roots: "\ec19";
$icon-sogou: "\ec1a";
$icon-campaignmonitor: "\ec1b";
$icon-playstation4: "\ec1c";
$icon-periscope: "\ec1d";
$icon-disroot: "\ec1e";
$icon-kickstarter: "\ec1f";
$icon-snapchat: "\ec20";
$icon-qualcomm: "\ec21";
$icon-nintendogamecube: "\ec22";
$icon-wolframmathematica: "\ec23";
$icon-bing: "\ec24";
$icon-html5: "\ec25";
$icon-nextdoor: "\ec26";
$icon-dev-dot-to: "\ec27";
$icon-quora: "\ec28";
$icon-monero: "\ec29";
$icon-ifixit: "\ec2a";
$icon-fandango: "\ec2b";
$icon-laravel: "\ec2c";
$icon-twilio: "\ec2d";
$icon-googledrive: "\ec2e";
$icon-draugiem-dot-lv: "\ec2f";
$icon-spotlight: "\ec30";
$icon-overcast: "\ec31";
$icon-googleplus: "\ec32";
$icon-monogram: "\ec33";
$icon-pagekit: "\ec34";
$icon-mongodb: "\ec35";
$icon-microsoftaccess: "\ec36";
$icon-ubuntu: "\ec37";
$icon-steem: "\ec38";
$icon-paypal1: "\ec39";
$icon-deezer: "\ec3a";
$icon-qiita: "\ec3b";
$icon-at-and-t: "\ec3c";
$icon-empirekred: "\ec3d";
$icon-proto-dot-io: "\ec3e";
$icon-hockeyapp: "\ec3f";
$icon-unsplash: "\ec40";
$icon-gravatar: "\ec41";
$icon-playstation: "\ec42";
$icon-codio: "\ec43";
$icon-wolfram: "\ec44";
$icon-facebook3: "\ec45";
$icon-microsoftonenote: "\ec46";
$icon-amazon1: "\ec47";
$icon-vine1: "\ec48";
$icon-stackexchange: "\ec49";
$icon-eslint: "\ec4a";
$icon-pinterest1: "\ec4b";
$icon-mastercard: "\ec4c";
$icon-blender: "\ec4d";
$icon-slickpic: "\ec4e";
$icon-webstorm: "\ec4f";
$icon-minutemailer: "\ec50";
$icon-travisci: "\ec51";
$icon-wechat: "\ec52";
$icon-topcoder: "\ec53";
$icon-yandex: "\ec54";
$icon-ted: "\ec55";
$icon-instapaper: "\ec56";
$icon-pluralsight: "\ec57";
$icon-stylus: "\ec58";
$icon-whatsapp1: "\ec59";
$icon-google1: "\ec5a";
$icon-line: "\ec5b";
$icon-livejournal: "\ec5c";
$icon-atlassian: "\ec5d";
$icon-eventstore: "\ec5e";
$icon-qzone: "\ec5f";
$icon-php: "\ec60";
$icon-mozillafirefox: "\ec61";
$icon-stripe: "\ec62";
$icon-wolframlanguage: "\ec63";
$icon-artstation: "\ec64";
$icon-stackoverflow1: "\ec65";
$icon-gumtree: "\ec66";
$icon-playstation3: "\ec67";
$icon-brand-dot-ai: "\ec68";
$icon-scribd: "\ec69";
$icon-googleallo: "\ec6a";
$icon-bower: "\ec6b";
$icon-vagrant: "\ec6c";
$icon-co-op: "\ec6d";
$icon-jenkins: "\ec6e";
$icon-automatic: "\ec6f";
$icon-gauges: "\ec70";
$icon-matternet: "\ec71";
$icon-plurk: "\ec72";
$icon-themighty: "\ec73";
$icon-designernews: "\ec74";
$icon-xing1: "\ec75";
$icon-adobeindesign: "\ec76";
$icon-microsoftoutlook: "\ec77";
$icon-adobedreamweaver: "\ec78";
$icon-auth0: "\ec79";
$icon-slashdot: "\ec7a";
$icon-goldenline: "\ec7b";
$icon-redux: "\ec7c";
$icon-pinboard: "\ec7d";
$icon-redbubble: "\ec7e";
$icon-zerply: "\ec7f";
$icon-twitch1: "\ec80";
$icon-lanyrd1: "\ec81";
$icon-windows1: "\ec82";
$icon-basecamp1: "\ec83";
$icon-mail-dot-ru: "\ec84";
$icon-groupon: "\ec85";
$icon-youtube3: "\ec86";
$icon-rails: "\ec87";
$icon-justgiving: "\ec88";
$icon-wire: "\ec89";
$icon-meteor: "\ec8a";
$icon-readthedocs: "\ec8b";
$icon-googleanalytics: "\ec8c";
$icon-jsfiddle: "\ec8d";
$icon-d3-dot-js: "\ec8e";
$icon-nodemon: "\ec8f";
$icon-serverfault: "\ec90";
$icon-yahoo1: "\ec91";
$icon-grav: "\ec92";
$icon-hackster: "\ec93";
$icon-producthunt: "\ec94";
$icon-uber: "\ec95";
$icon-gulp: "\ec96";
$icon-adobephotoshop: "\ec97";
$icon-keycdn: "\ec98";
$icon-diaspora: "\ec99";
$icon-reddit1: "\ec9a";
$icon-angellist: "\ec9b";
$icon-codeigniter: "\ec9c";
$icon-stitcher: "\ec9d";
$icon-icq: "\ec9e";
$icon-microsoftedge: "\ec9f";
$icon-highly: "\eca0";
$icon-intel: "\eca1";
$icon-evernote: "\eca2";
$icon-codepen2: "\eca3";
$icon-dribbble1: "\eca4";
$icon-adobeaftereffects: "\eca5";
$icon-xbox: "\eca6";
$icon-trello1: "\eca7";
$icon-archiveofourown: "\eca8";
$icon-swarm: "\eca9";
$icon-amd: "\ecaa";
$icon-known: "\ecab";
$icon-redis: "\ecac";
$icon-player-dot-me: "\ecad";
$icon-acm: "\ecae";
$icon-linkedin3: "\ecaf";
$icon-googlechrome: "\ecb0";
$icon-uikit: "\ecb1";
$icon-react: "\ecb2";
$icon-ko-fi: "\ecb3";
$icon-twitter2: "\ecb4";
$icon-livestream: "\ecb5";
$icon-dailymotion: "\ecb6";
$icon-bitly: "\ecb7";
$icon-quantopian: "\ecb8";
$icon-devrant: "\ecb9";
$icon-graphcool: "\ecba";
$icon-patreon: "\ecbb";
$icon-coderwall: "\ecbc";
$icon-stubhub: "\ecbd";
$icon-hipchat: "\ecbe";
$icon-klout: "\ecbf";
$icon-swift: "\ecc0";
$icon-linuxfoundation: "\ecc1";
$icon-discord: "\ecc2";
$icon-dtube: "\ecc3";
$icon-opera1: "\ecc4";
$icon-gitter: "\ecc5";
$icon-buffer: "\ecc6";
$icon-css31: "\ecc7";
$icon-renren1: "\ecc8";
$icon-picarto-dot-tv: "\ecc9";
$icon-speakerdeck: "\ecca";
$icon-adobelightroom: "\eccb";
$icon-framer: "\eccc";
$icon-debian: "\eccd";
$icon-mixcloud: "\ecce";
$icon-slack1: "\eccf";
$icon-soundcloud1: "\ecd0";
$icon-skyliner: "\ecd1";
$icon-messenger: "\ecd2";
$icon-trulia: "\ecd3";
$icon-hootsuite: "\ecd4";
$icon-django: "\ecd5";
$icon-mysql: "\ecd6";
$icon-shazam: "\ecd7";
$icon-baidu: "\ecd8";
$icon-skype1: "\ecd9";
$icon-ebay: "\ecda";
$icon-glassdoor: "\ecdb";
$icon-micro-dot-blog: "\ecdc";
$icon-wordpress1: "\ecdd";
$icon-dot-net: "\ecde";
$icon-circleci: "\ecdf";
$icon-viadeo: "\ece0";
$icon-atom: "\ece1";
$icon-pandora: "\ece2";
$icon-sublimetext: "\ece3";
$icon-graphql: "\ece4";
$icon-nginx: "\ece5";
$icon-adobecreativecloud: "\ece6";
$icon-go: "\ece7";
$icon-staticman: "\ece8";
$icon-adobeacrobatreader: "\ece9";
$icon-apple: "\ecea";
$icon-launchpad: "\eceb";
$icon-netflix: "\ecec";
$icon-smashingmagazine: "\eced";
$icon-digitalocean: "\ecee";
$icon-leetcode: "\ecef";
$icon-neo4j: "\ecf0";
$icon-storify: "\ecf1";
$icon-typo3: "\ecf2";
$icon-visualstudiocode: "\ecf3";
$icon-reverbnation: "\ecf4";
$icon-makerbot: "\ecf5";
$icon-conekta: "\ecf6";
$icon-behance1: "\ecf7";
$icon-applemusic: "\ecf8";
$icon-flickr1: "\ecf9";
$icon-mixer: "\ecfa";
$icon-compropago: "\ecfb";
$icon-upwork: "\ecfc";
$icon-coursera: "\ecfd";
$icon-castro: "\ecfe";
$icon-bathasu: "\ecff";
$icon-home: "\ed00";
$icon-home2: "\ed01";
$icon-home3: "\ed02";
$icon-office: "\ed03";
$icon-newspaper: "\ed04";
$icon-pencil: "\ed05";
$icon-pencil2: "\ed06";
$icon-quill: "\ed07";
$icon-pen: "\ed08";
$icon-blog: "\ed09";
$icon-eyedropper: "\ed0a";
$icon-droplet: "\ed0b";
$icon-paint-format: "\ed0c";
$icon-image: "\ed0d";
$icon-images: "\ed0e";
$icon-camera: "\ed0f";
$icon-headphones: "\ed10";
$icon-music: "\ed11";
$icon-play: "\ed12";
$icon-film: "\ed13";
$icon-video-camera: "\ed14";
$icon-dice: "\ed15";
$icon-pacman: "\ed16";
$icon-spades: "\ed17";
$icon-clubs: "\ed18";
$icon-diamonds: "\ed19";
$icon-bullhorn: "\ed1a";
$icon-connection: "\ed1b";
$icon-podcast: "\ed1c";
$icon-feed: "\ed1d";
$icon-mic: "\ed1e";
$icon-book: "\ed1f";
$icon-books: "\ed20";
$icon-library: "\ed21";
$icon-file-text: "\ed22";
$icon-profile: "\ed23";
$icon-file-empty: "\ed24";
$icon-files-empty: "\ed25";
$icon-file-text2: "\ed26";
$icon-file-picture: "\ed27";
$icon-file-music: "\ed28";
$icon-file-play: "\ed29";
$icon-file-video: "\ed2a";
$icon-file-zip: "\ed2b";
$icon-copy: "\ed2c";
$icon-paste: "\ed2d";
$icon-stack: "\ed2e";
$icon-folder: "\ed2f";
$icon-folder-open: "\ed30";
$icon-folder-plus: "\ed31";
$icon-folder-minus: "\ed32";
$icon-folder-download: "\ed33";
$icon-folder-upload: "\ed34";
$icon-price-tag: "\ed35";
$icon-price-tags: "\ed36";
$icon-barcode: "\ed37";
$icon-qrcode: "\ed38";
$icon-ticket: "\ed39";
$icon-cart: "\ed3a";
$icon-coin-dollar: "\ed3b";
$icon-coin-euro: "\ed3c";
$icon-coin-pound: "\ed3d";
$icon-coin-yen: "\ed3e";
$icon-credit-card: "\ed3f";
$icon-calculator: "\ed40";
$icon-lifebuoy: "\ed41";
$icon-phone: "\ed42";
$icon-phone-hang-up: "\ed43";
$icon-address-book: "\ed44";
$icon-envelop: "\ed45";
$icon-pushpin: "\ed46";
$icon-location: "\ed47";
$icon-location2: "\ed48";
$icon-compass: "\ed49";
$icon-compass2: "\ed4a";
$icon-map: "\ed4b";
$icon-map2: "\ed4c";
$icon-history: "\ed4d";
$icon-clock: "\ed4e";
$icon-clock2: "\ed4f";
$icon-alarm: "\ed50";
$icon-bell: "\ed51";
$icon-stopwatch: "\ed52";
$icon-calendar: "\ed53";
$icon-printer: "\ed54";
$icon-keyboard: "\ed55";
$icon-display: "\ed56";
$icon-laptop: "\ed57";
$icon-mobile: "\ed58";
$icon-mobile2: "\ed59";
$icon-tablet: "\ed5a";
$icon-tv: "\ed5b";
$icon-drawer: "\ed5c";
$icon-drawer2: "\ed5d";
$icon-box-add: "\ed5e";
$icon-box-remove: "\ed5f";
$icon-download: "\ed60";
$icon-upload: "\ed61";
$icon-floppy-disk: "\ed62";
$icon-drive: "\ed63";
$icon-database: "\ed64";
$icon-undo: "\ed65";
$icon-redo: "\ed66";
$icon-undo2: "\ed67";
$icon-redo2: "\ed68";
$icon-forward: "\ed69";
$icon-reply: "\ed6a";
$icon-bubble: "\ed6b";
$icon-bubbles: "\ed6c";
$icon-bubbles2: "\ed6d";
$icon-bubble2: "\ed6e";
$icon-bubbles3: "\ed6f";
$icon-bubbles4: "\ed70";
$icon-user: "\ed71";
$icon-users: "\ed72";
$icon-user-plus: "\ed73";
$icon-user-minus: "\ed74";
$icon-user-check: "\ed75";
$icon-user-tie: "\ed76";
$icon-quotes-left: "\ed77";
$icon-quotes-right: "\ed78";
$icon-hour-glass: "\ed79";
$icon-spinner: "\ed7a";
$icon-spinner2: "\ed7b";
$icon-spinner3: "\ed7c";
$icon-spinner4: "\ed7d";
$icon-spinner5: "\ed7e";
$icon-spinner6: "\ed7f";
$icon-spinner7: "\ed80";
$icon-spinner8: "\ed81";
$icon-spinner9: "\ed82";
$icon-spinner10: "\ed83";
$icon-spinner11: "\ed84";
$icon-binoculars: "\ed85";
$icon-search: "\ed86";
$icon-zoom-in: "\ed87";
$icon-zoom-out: "\ed88";
$icon-enlarge: "\ed89";
$icon-shrink: "\ed8a";
$icon-enlarge2: "\ed8b";
$icon-shrink2: "\ed8c";
$icon-key: "\ed8d";
$icon-key2: "\ed8e";
$icon-lock: "\ed8f";
$icon-unlocked: "\ed90";
$icon-wrench: "\ed91";
$icon-equalizer: "\ed92";
$icon-equalizer2: "\ed93";
$icon-cog: "\ed94";
$icon-cogs: "\ed95";
$icon-hammer: "\ed96";
$icon-magic-wand: "\ed97";
$icon-aid-kit: "\ed98";
$icon-bug: "\ed99";
$icon-pie-chart: "\ed9a";
$icon-stats-dots: "\ed9b";
$icon-stats-bars: "\ed9c";
$icon-stats-bars2: "\ed9d";
$icon-trophy: "\ed9e";
$icon-gift: "\ed9f";
$icon-glass: "\eda0";
$icon-glass2: "\eda1";
$icon-mug: "\eda2";
$icon-spoon-knife: "\eda3";
$icon-leaf: "\eda4";
$icon-rocket: "\eda5";
$icon-meter: "\eda6";
$icon-meter2: "\eda7";
$icon-hammer2: "\eda8";
$icon-fire: "\eda9";
$icon-lab: "\edaa";
$icon-magnet: "\edab";
$icon-bin: "\edac";
$icon-bin2: "\edad";
$icon-briefcase: "\edae";
$icon-airplane: "\edaf";
$icon-truck: "\edb0";
$icon-road: "\edb1";
$icon-accessibility: "\edb2";
$icon-target: "\edb3";
$icon-shield: "\edb4";
$icon-power: "\edb5";
$icon-switch: "\edb6";
$icon-power-cord: "\edb7";
$icon-clipboard: "\edb8";
$icon-list-numbered: "\edb9";
$icon-list: "\edba";
$icon-list2: "\edbb";
$icon-tree: "\edbc";
$icon-menu: "\edbd";
$icon-menu2: "\edbe";
$icon-menu3: "\edbf";
$icon-menu4: "\edc0";
$icon-cloud: "\edc1";
$icon-cloud-download: "\edc2";
$icon-cloud-upload: "\edc3";
$icon-cloud-check: "\edc4";
$icon-download2: "\edc5";
$icon-upload2: "\edc6";
$icon-download3: "\edc7";
$icon-upload3: "\edc8";
$icon-sphere: "\edc9";
$icon-earth: "\edca";
$icon-link: "\edcb";
$icon-flag: "\edcc";
$icon-attachment: "\edcd";
$icon-eye: "\edce";
$icon-eye-plus: "\edcf";
$icon-eye-minus: "\edd0";
$icon-eye-blocked: "\edd1";
$icon-bookmark: "\edd2";
$icon-bookmarks: "\edd3";
$icon-sun: "\edd4";
$icon-contrast: "\edd5";
$icon-brightness-contrast: "\edd6";
$icon-star-empty: "\edd7";
$icon-star-half: "\edd8";
$icon-star-full: "\edd9";
$icon-heart: "\edda";
$icon-heart-broken: "\eddb";
$icon-man: "\eddc";
$icon-woman: "\eddd";
$icon-man-woman: "\edde";
$icon-happy: "\eddf";
$icon-happy2: "\ede0";
$icon-smile: "\ede1";
$icon-smile2: "\ede2";
$icon-tongue: "\ede3";
$icon-tongue2: "\ede4";
$icon-sad: "\ede5";
$icon-sad2: "\ede6";
$icon-wink: "\ede7";
$icon-wink2: "\ede8";
$icon-grin: "\ede9";
$icon-grin2: "\edea";
$icon-cool: "\edeb";
$icon-cool2: "\edec";
$icon-angry: "\eded";
$icon-angry2: "\edee";
$icon-evil: "\edef";
$icon-evil2: "\edf0";
$icon-shocked: "\edf1";
$icon-shocked2: "\edf2";
$icon-baffled: "\edf3";
$icon-baffled2: "\edf4";
$icon-confused: "\edf5";
$icon-confused2: "\edf6";
$icon-neutral: "\edf7";
$icon-neutral2: "\edf8";
$icon-hipster: "\edf9";
$icon-hipster2: "\edfa";
$icon-wondering: "\edfb";
$icon-wondering2: "\edfc";
$icon-sleepy: "\edfd";
$icon-sleepy2: "\edfe";
$icon-frustrated: "\edff";
$icon-frustrated2: "\ee00";
$icon-crying: "\ee01";
$icon-crying2: "\ee02";
$icon-point-up: "\ee03";
$icon-point-right: "\ee04";
$icon-point-down: "\ee05";
$icon-point-left: "\ee06";
$icon-warning: "\ee07";
$icon-notification: "\ee08";
$icon-question: "\ee09";
$icon-plus: "\ee0a";
$icon-minus: "\ee0b";
$icon-info: "\ee0c";
$icon-cancel-circle: "\ee0d";
$icon-blocked: "\ee0e";
$icon-cross: "\ee0f";
$icon-checkmark: "\ee10";
$icon-checkmark2: "\ee11";
$icon-spell-check: "\ee12";
$icon-enter: "\ee13";
$icon-exit: "\ee14";
$icon-play2: "\ee15";
$icon-pause: "\ee16";
$icon-stop: "\ee17";
$icon-previous: "\ee18";
$icon-next: "\ee19";
$icon-backward: "\ee1a";
$icon-forward2: "\ee1b";
$icon-play3: "\ee1c";
$icon-pause2: "\ee1d";
$icon-stop2: "\ee1e";
$icon-backward2: "\ee1f";
$icon-forward3: "\ee20";
$icon-first: "\ee21";
$icon-last: "\ee22";
$icon-previous2: "\ee23";
$icon-next2: "\ee24";
$icon-eject: "\ee25";
$icon-volume-high: "\ee26";
$icon-volume-medium: "\ee27";
$icon-volume-low: "\ee28";
$icon-volume-mute: "\ee29";
$icon-volume-mute2: "\ee2a";
$icon-volume-increase: "\ee2b";
$icon-volume-decrease: "\ee2c";
$icon-loop: "\ee2d";
$icon-loop2: "\ee2e";
$icon-infinite: "\ee2f";
$icon-shuffle: "\ee30";
$icon-arrow-up-left: "\ee31";
$icon-arrow-up: "\ee32";
$icon-arrow-up-right: "\ee33";
$icon-arrow-right: "\ee34";
$icon-arrow-down-right: "\ee35";
$icon-arrow-down: "\ee36";
$icon-arrow-down-left: "\ee37";
$icon-arrow-left: "\ee38";
$icon-arrow-up-left2: "\ee39";
$icon-arrow-up2: "\ee3a";
$icon-arrow-up-right2: "\ee3b";
$icon-arrow-right2: "\ee3c";
$icon-arrow-down-right2: "\ee3d";
$icon-arrow-down2: "\ee3e";
$icon-arrow-down-left2: "\ee3f";
$icon-arrow-left2: "\ee40";
$icon-circle-up: "\ee41";
$icon-circle-right: "\ee42";
$icon-circle-down: "\ee43";
$icon-circle-left: "\ee44";
$icon-tab: "\ee45";
$icon-move-up: "\ee46";
$icon-move-down: "\ee47";
$icon-sort-alpha-asc: "\ee48";
$icon-sort-alpha-desc: "\ee49";
$icon-sort-numeric-asc: "\ee4a";
$icon-sort-numberic-desc: "\ee4b";
$icon-sort-amount-asc: "\ee4c";
$icon-sort-amount-desc: "\ee4d";
$icon-command: "\ee4e";
$icon-shift: "\ee4f";
$icon-ctrl: "\ee50";
$icon-opt: "\ee51";
$icon-checkbox-checked: "\ee52";
$icon-checkbox-unchecked: "\ee53";
$icon-radio-checked: "\ee54";
$icon-radio-checked2: "\ee55";
$icon-radio-unchecked: "\ee56";
$icon-crop: "\ee57";
$icon-make-group: "\ee58";
$icon-ungroup: "\ee59";
$icon-scissors: "\ee5a";
$icon-filter: "\ee5b";
$icon-font: "\ee5c";
$icon-ligature: "\ee5d";
$icon-ligature2: "\ee5e";
$icon-text-height: "\ee5f";
$icon-text-width: "\ee60";
$icon-font-size: "\ee61";
$icon-bold: "\ee62";
$icon-underline: "\ee63";
$icon-italic: "\ee64";
$icon-strikethrough: "\ee65";
$icon-omega: "\ee66";
$icon-sigma: "\ee67";
$icon-page-break: "\ee68";
$icon-superscript: "\ee69";
$icon-subscript: "\ee6a";
$icon-superscript2: "\ee6b";
$icon-subscript2: "\ee6c";
$icon-text-color: "\ee6d";
$icon-pagebreak: "\ee6e";
$icon-clear-formatting: "\ee6f";
$icon-table: "\ee70";
$icon-table2: "\ee71";
$icon-insert-template: "\ee72";
$icon-pilcrow: "\ee73";
$icon-ltr: "\ee74";
$icon-rtl: "\ee75";
$icon-section: "\ee76";
$icon-paragraph-left: "\ee77";
$icon-paragraph-center: "\ee78";
$icon-paragraph-right: "\ee79";
$icon-paragraph-justify: "\ee7a";
$icon-indent-increase: "\ee7b";
$icon-indent-decrease: "\ee7c";
$icon-share: "\ee7d";
$icon-new-tab: "\ee7e";
$icon-embed: "\ee7f";
$icon-embed2: "\ee80";
$icon-terminal: "\ee81";
$icon-share2: "\ee82";
$icon-mail: "\ee83";
$icon-mail2: "\ee84";
$icon-mail3: "\ee85";
$icon-mail4: "\ee86";
$icon-amazon: "\ee87";
$icon-google: "\ee88";
$icon-google2: "\ee89";
$icon-google3: "\ee8a";
$icon-google-plus: "\ee8b";
$icon-google-plus2: "\ee8c";
$icon-google-plus3: "\ee8d";
$icon-hangouts: "\ee8e";
$icon-google-drive: "\ee8f";
$icon-facebook: "\ee90";
$icon-facebook2: "\ee91";
$icon-instagram: "\ee92";
$icon-whatsapp: "\ee93";
$icon-spotify: "\ee94";
$icon-telegram: "\ee95";
$icon-twitter: "\ee96";
$icon-vine: "\ee97";
$icon-vk: "\ee98";
$icon-renren: "\ee99";
$icon-sina-weibo: "\ee9a";
$icon-rss: "\ee9b";
$icon-rss2: "\ee9c";
$icon-youtube: "\ee9d";
$icon-youtube2: "\ee9e";
$icon-twitch: "\ee9f";
$icon-vimeo: "\eea0";
$icon-vimeo2: "\eea1";
$icon-lanyrd: "\eea2";
$icon-flickr: "\eea3";
$icon-flickr2: "\eea4";
$icon-flickr3: "\eea5";
$icon-flickr4: "\eea6";
$icon-dribbble: "\eea7";
$icon-behance: "\eea8";
$icon-behance2: "\eea9";
$icon-deviantart: "\eeaa";
$icon-500px: "\eeab";
$icon-steam: "\eeac";
$icon-steam2: "\eead";
$icon-dropbox: "\eeae";
$icon-onedrive: "\eeaf";
$icon-github: "\eeb0";
$icon-npm: "\eeb1";
$icon-basecamp: "\eeb2";
$icon-trello: "\eeb3";
$icon-wordpress: "\eeb4";
$icon-joomla: "\eeb5";
$icon-ello: "\eeb6";
$icon-blogger: "\eeb7";
$icon-blogger2: "\eeb8";
$icon-tumblr: "\eeb9";
$icon-tumblr2: "\eeba";
$icon-yahoo: "\eebb";
$icon-yahoo2: "\eebc";
$icon-tux: "\eebd";
$icon-appleinc: "\eebe";
$icon-finder: "\eebf";
$icon-android: "\eec0";
$icon-windows: "\eec1";
$icon-windows8: "\eec2";
$icon-soundcloud: "\eec3";
$icon-soundcloud2: "\eec4";
$icon-skype: "\eec5";
$icon-reddit: "\eec6";
$icon-hackernews: "\eec7";
$icon-wikipedia: "\eec8";
$icon-linkedin: "\eec9";
$icon-linkedin2: "\eeca";
$icon-lastfm: "\eecb";
$icon-lastfm2: "\eecc";
$icon-delicious: "\eecd";
$icon-stumbleupon: "\eece";
$icon-stumbleupon2: "\eecf";
$icon-stackoverflow: "\eed0";
$icon-pinterest: "\eed1";
$icon-pinterest2: "\eed2";
$icon-xing: "\eed3";
$icon-xing2: "\eed4";
$icon-flattr: "\eed5";
$icon-foursquare: "\eed6";
$icon-yelp: "\eed7";
$icon-paypal: "\eed8";
$icon-chrome: "\eed9";
$icon-firefox: "\eeda";
$icon-IE: "\eedb";
$icon-edge: "\eedc";
$icon-safari: "\eedd";
$icon-opera: "\eede";
$icon-file-pdf: "\eedf";
$icon-file-openoffice: "\eee0";
$icon-file-word: "\eee1";
$icon-file-excel: "\eee2";
$icon-libreoffice: "\eee3";
$icon-html-five: "\eee4";
$icon-html-five2: "\eee5";
$icon-css3: "\eee6";
$icon-git: "\eee7";
$icon-codepen: "\eee8";
$icon-svg: "\eee9";
$icon-IcoMoon: "\eeea";

