<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary font-weight-500"><i class="icon-layers1"></i> UI Kits</a></li>
    <li class="breadcrumb-item active" aria-current="page">Badges</li>
    <span class="spacer"></span>
  </ol>
</nav>

<div class="separator-breadcrumb border-top"></div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default badge layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Basic badge layout options</p>

<div class="row">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge outline</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-outline-primary p-2 m-1">Primary</span>
        <span class="badge badge-outline-secondary p-2 m-1">Secondary</span>
        <span class="badge badge-outline-success p-2 m-1">Success</span>
        <span class="badge badge-outline-danger p-2 m-1">Danger</span>
        <span class="badge badge-outline-warning p-2 m-1">Warning</span>
        <span class="badge badge-outline-info p-2 m-1">Info</span>
        <span class="badge badge-outline-dark p-2 m-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge outline rounded</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-round badge-outline-primary p-2 m-1">Primary</span>
        <span class="badge badge-round badge-outline-secondary p-2 m-1">Secondary</span>
        <span class="badge badge-round badge-outline-success p-2 m-1">Success</span>
        <span class="badge badge-round badge-outline-danger p-2 m-1">Danger</span>
        <span class="badge badge-round badge-outline-warning p-2 m-1">Warning</span>
        <span class="badge badge-round badge-outline-info p-2 m-1">Info</span>
        <span class="badge badge-round badge-outline-dark p-2 m-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge outline with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-outline-primary p-2 m-1"><i class="icon-announcement mr-1"></i>Primary</span>
        <span class="badge badge-outline-secondary p-2 m-1"><i class="icon-directions mr-1"></i>Secondary</span>
        <span class="badge badge-outline-success p-2 m-1"><i class="icon-announcement mr-1"></i>Success</span>
        <span class="badge badge-outline-danger p-2 m-1"><i class="icon-block mr-1"></i>Danger</span>
        <span class="badge badge-outline-warning p-2 m-1"><i class="icon-exclamation-solid mr-1"></i>Warning</span>
        <span class="badge badge-outline-info p-2 m-1"><i class="icon-announcement mr-1"></i>Info</span>
        <span class="badge badge-outline-dark p-2 m-1"><i class="icon-explore mr-1"></i>Dark</span>
      </div>
    </div>
  </div>

</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Regular Filled badge layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Regular Filled badge layout options</p>

<div class="row">

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Regular Badges</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-primary m-1">Primary</span>
        <span class="badge badge-secondary m-1">Secondary</span>
        <span class="badge badge-success m-1">Success</span>
        <span class="badge badge-danger m-1">Danger</span>
        <span class="badge badge-warning m-1">Warning</span>
        <span class="badge badge-info m-1">Info</span>
        <span class="badge badge-light m-1">Light</span>
        <span class="badge badge-dark m-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Regular Badges Round</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

          <span class="badge badge-round badge-primary m-1">Primary</span>
          <span class="badge badge-round badge-secondary m-1">Secondary</span>
          <span class="badge badge-round badge-success m-1">Success</span>
          <span class="badge badge-round badge-danger m-1">Danger</span>
          <span class="badge badge-round badge-warning m-1">Warning</span>
          <span class="badge badge-round badge-info m-1">Info</span>
          <span class="badge badge-round badge-light m-1">Light</span>
          <span class="badge badge-round badge-dark m-1">Dark</span>
        </div>
      </div>
    </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Regular Badges with Icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-primary m-1"><i class="icon-announcement mr-1"></i>Primary</span>
        <span class="badge badge-secondary m-1"><i class="icon-directions mr-1"></i>Secondary</span>
        <span class="badge badge-danger m-1"><i class="icon-block mr-1"></i>Danger</span>
        <span class="badge badge-warning m-1"><i class="icon-exclamation-solid mr-1"></i>Warning</span>
        <span class="badge badge-info m-1"><i class="icon-announcement mr-1"></i>Info</span>
        <span class="badge badge-light m-1"><i class="icon-announcement mr-1"></i>Light</span>
        <span class="badge badge-dark m-1"><i class="icon-explore mr-1"></i>Dark</span>
      </div>
    </div>
  </div>


</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Other badge layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Other badge layout options</p>

<div class="row">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge Pill</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-pill badge-primary m-1">Primary</span>
        <span class="badge badge-pill badge-secondary m-1">Secondary</span>
        <span class="badge badge-pill badge-success m-1">Success</span>
        <span class="badge badge-pill badge-danger m-1">Danger</span>
        <span class="badge badge-pill badge-warning m-1">Warning</span>
        <span class="badge badge-pill badge-info m-1">Info</span>
        <span class="badge badge-pill badge-light m-1">Light</span>
        <span class="badge badge-pill badge-dark m-1">Dark</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge Pill with Padding</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <span class="badge badge-padded-pill badge-primary p-2 m-1">Primary</span>
        <span class="badge badge-padded-pill badge-secondary p-2 m-1">Secondary</span>
        <span class="badge badge-padded-pill badge-success p-2 m-1">Success</span>
        <span class="badge badge-padded-pill badge-danger p-2 m-1">Danger</span>
        <span class="badge badge-padded-pill badge-warning p-2 m-1">Warning</span>
        <span class="badge badge-padded-pill badge-info p-2 m-1">Info</span>
        <span class="badge badge-padded-pill badge-light p-2 m-1">Light</span>
        <span class="badge badge-padded-pill badge-dark p-2 m-1">Dark</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Badge link</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default badge outline rounded</p>

        <a href="" class="badge badge-link badge-primary m-1">Primary</a>
        <a href="" class="badge badge-link badge-secondary m-1">Secondary</a>
        <a href="" class="badge badge-link badge-success m-1">Success</a>
        <a href="" class="badge badge-link badge-danger m-1">Danger</a>
        <a href="" class="badge badge-link badge-warning m-1">Warning</a>
        <a href="" class="badge badge-link badge-info m-1">Info</a>
        <a href="" class="badge badge-link badge-light m-1">Light</a>
        <a href="" class="badge badge-link badge-dark m-1">Dark</a>
      </div>
    </div>
  </div>
</div>