<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary font-weight-500"><i class="icon-layers1"></i> UI Kits</a></li>
    <li class="breadcrumb-item active" aria-current="page">Buttons</li>
    <span class="spacer"></span>
    <li class="breadcrumb-item no-driver">
      <a href="" class="text-muted link-primary">
        <i class="icon-bubbles"></i> Support</a>
    </li>
    <li class="breadcrumb-item">

      <a href="#" class="dropdown-toggle text-muted link-primary" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="icon-cog"></i> Settings</a>

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href=""><i class="icon-key"></i> Account Sicurity</a>
        <a class="dropdown-item" href=""><i class="icon-stats-dots"></i> Analytics</a>
        <a class="dropdown-item" href=""><i class="icon-accessibility"></i> Accessibility</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href=""><i class="icon-cog"></i> All settings</a>
      </div>

    </li>
  </ol>


</nav>

<div class="separator-breadcrumb border-top"></div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Basic button layout options</p>

<div class="row mb-4">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-default m-1">Default</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-default m-1"><i class="icon-cogs"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn btn-default dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Primary button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-primary m-1">Primary</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Primary with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-primary m-1"><i class="icon-home text-13 mr-2"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Primary with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn btn-primary dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-round btn-danger m-1">Rounded</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-round btn-danger m-1"><i class="icon-buoy text-13 mr-2"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn-round btn-danger dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Label button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-label-left btn-danger m-1"><b><i class="icon-chrome1"></i></b>Labeled</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-round btn-label-left btn-danger m-1"><b><i class="icon-chrome1"></i></b>With
          icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn-label-left btn-danger dropdown-toggle mb-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b><i class="icon-chrome1"></i></b>Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Label button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-link m-1">Linked button</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-link m-1"><i class="icon-chat-bubble-dots"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Rounded with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn-link dropdown-toggle mb-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b><i class="icon-chrome1"></i></b>Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Basic button layout options</p>

<div class="row mb-4">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary m-1">Default</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary m-1"><i class="icon-cogs"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn btn-outline-primary dropdown-toggle mb-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

</div>

<p class="text-13 font-family-1 font-weight-500 line-height-1 mb-2">BORDER OPTIONS</p>

<div class="row mb-4">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary border-transparent m-1">Default</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary border-transparent m-1"><i class="icon-cogs"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn btn-outline-primary border-transparent dropdown-toggle mb-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary border-2 m-1">Default</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-outline-primary border-2 m-1"><i class="icon-cogs"></i>With icon</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button class="btn btn btn-outline-primary border-2 dropdown-toggle mb-2" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Basic button layout options</p>

<div class="row mb-4">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-icon bg-primary m-1"><i class="icon-cogs"></i></button>
        <button type="button" class="btn btn-icon bg-primary-alpha m-1"><i class="icon-cogs"></i></button>
        <button type="button" class="btn btn-icon btn-outline-primary border-transparent m-1"><i class="icon-cogs"></i></button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with icon</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>
        <button type="button" class="btn btn-round btn-icon bg-primary m-1"><i class="icon-cogs"></i></button>
        <button type="button" class="btn btn-round btn-icon bg-primary-alpha m-1"><i class="icon-cogs"></i></button>
        <button type="button" class="btn btn-round btn-icon btn-outline-primary border-transparent m-1"><i class="icon-cogs"></i></button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="btn-group" role="group">
          <button class="btn btn-primary dropdown-toggle mb-2 mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="icon-cogs"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="btn-group" role="group">
          <button class="btn bg-primary-alpha dropdown-toggle mb-2 mr-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-cogs"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="btn-group" role="group">
          <button class="btn btn-outline-primary border-transparent dropdown-toggle mb-2 mr-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-cogs"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary active">Left</button>
          <button type="button" class="btn btn-primary">Middle</button>
          <button type="button" class="btn btn-primary">Right</button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group m-1" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary active">2</button>
            <button type="button" class="btn btn-primary">3</button>
            <button type="button" class="btn btn-primary">4</button>
          </div>
          <div class="btn-group m-1" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary">5</button>
            <button type="button" class="btn btn-primary">6</button>
            <button type="button" class="btn btn-primary">7</button>
          </div>
          <div class="btn-group m-1" role="group" aria-label="Third group">
            <button type="button" class="btn btn-primary">8</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">1</button>
          <button type="button" class="btn btn-primary">2</button>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <button type="button" class="btn btn-primary btn-block m-1">Primary</button>
        <button type="button" class="btn btn-success btn-block m-1">Primary</button>
        <button type="button" class="btn btn-warning btn-block m-1">Primary</button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <button type="button" class="btn btn-round btn-primary btn-block m-1">Primary</button>
        <button type="button" class="btn btn-round btn-success btn-block m-1">Primary</button>
        <button type="button" class="btn btn-round btn-warning btn-block m-1">Primary</button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <button type="button" class="btn btn-primary btn-block m-1"><i class="icon-cogs"></i>Primary</button>
        <button type="button" class="btn btn-success btn-block m-1">Primary</button>
        <button type="button" class="btn btn-warning btn-block m-1">Primary</button>

      </div>
    </div>
  </div>

</div>


<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default button layouts</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Basic button layout options</p>

<div class="row mb-4">

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="mb-2">
          <button type="button" class="btn btn-float btn-primary m-1"><i class="icon-chrome1"></i></button>
          <button type="button" class="btn btn-float btn-danger m-1"><i class="icon-chrome1 text-32"></i></button>
          <button type="button" class="btn btn-float btn-success m-1"><i class="icon-chrome1 btn-icon-spinner"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Default light button example</p>

        <div>
          <button type="button" class="btn btn-float btn-primary m-1"><i class="icon-chrome1 mb-1"></i>Search</button>
          <button type="button" class="btn btn-float btn-danger m-1"><i class="icon-chrome1 text-32"></i><span class="ml-1 mr-1">Search</span></button>
          <button type="button" class="btn btn-float btn-success m-1"><i class="icon-chrome1 btn-icon-spinner mb-1"></i>Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div class="mb-1">
          <button type="button" class="btn btn-round btn-float btn-primary m-1"><i class="icon-chrome1"></i></button>
          <button type="button" class="btn btn-round btn-float btn-danger m-1"><i class="icon-chrome1 text-32"></i></button>
          <button type="button" class="btn btn-round btn-float btn-success m-1"><i class="icon-chrome1 btn-icon-spinner"></i></button>
        </div>
      </div>
    </div>
  </div>



</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Button with loading animation</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Basic button layout options</p>

<div class="row mb-4">

  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <div>
          <btn-loading *ngFor="let btn of loadingButtons" btnClass="btn-{{btn.name}} m-1" [loading]="btn.loading"
            loadingText="Loading..." (click)="showLoading(btn)">
            Click me
          </btn-loading>
        </div>
      </div>
    </div>
  </div>

</div>

<p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Button with color variation</p>
<p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-3">Basic button layout options</p>

<div class="row">

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <button type="button" class="btn btn-primary m-1">Primary</button>
        <button type="button" class="btn btn-secondary m-1">Secondary</button>
        <button type="button" class="btn btn-success m-1">Success</button>
        <button type="button" class="btn btn-danger m-1">Danger</button>
        <button type="button" class="btn btn-warning m-1">Warning</button>
        <button type="button" class="btn btn-info m-1">Info</button>
        <button type="button" class="btn btn-light m-1">Light</button>
        <button type="button" class="btn btn-dark m-1">Dark</button>
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body text-center">
        <p class="text-15 font-family-1 font-weight-500 line-height-1 mb-1">Default with dropdown</p>
        <p class="text-13 text-gray font-family-1 font-weight-400 line-height-1_5 mb-4">Default light button example</p>

        <button type="button" class="btn btn-outline-primary m-1">Primary</button>
        <button type="button" class="btn btn-outline-secondary m-1">Secondary</button>
        <button type="button" class="btn btn-outline-success m-1">Success</button>
        <button type="button" class="btn btn-outline-danger m-1">Danger</button>
        <button type="button" class="btn btn-outline-warning m-1">Warning</button>
        <button type="button" class="btn btn-outline-info m-1">Info</button>
        <button type="button" class="btn btn-outline-dark m-1">Dark</button>
      </div>
    </div>
  </div>


</div>