<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#" class="link-primary font-weight-500"><i class="icon-layers1 mr-1"></i> UI Kits</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Card Widgets</li>
    <span class="spacer"></span>
    <li class="breadcrumb-item no-driver">
      <a href="" class="text-muted link-primary">
        <i class="icon-bubbles"></i> Support</a>
    </li>
    <li class="breadcrumb-item">

      <a href="#" class="dropdown-toggle text-muted link-primary" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="icon-cog"></i> Settings</a>

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href=""><i class="icon-key"></i> Account Sicurity</a>
        <a class="dropdown-item" href=""><i class="icon-stats-dots"></i> Analytics</a>
        <a class="dropdown-item" href=""><i class="icon-accessibility"></i> Accessibility</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href=""><i class="icon-cog"></i> All settings</a>
      </div>

    </li>
  </ol>

</nav>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

  <div class="col-lg-6 col-md-12">

    <div class="card mb-4">

      <div class="card-header justify-content-between mb-4">

        <div class="info">
          <p class="title text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">NETWORK STATS</p>
          <p class="subtitle text-13 font-family-1 font-weight-400 line-height-1 mb-0">Lorem ipsum dolor sit amet
            consectetur.</p>
        </div>

        <div class="action">
          <div class="dropdown">
            <a href="" class="text-muted link-primary" type="button">
              <i class="icon-reload align-middle mr-1"></i>
            </a>
          </div>
        </div>

      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
              <i class="icon-hard-drive text-32 mr-3"></i>
              <div>
                <h4 class="text-18 mb-1">Backups</h4>
                <span>Total: 32</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
              <i class="icon-database1 text-32 mr-3"></i>
              <div>
                <h4 class="text-18 mb-1">Databases</h4>
                <span>Total: 302</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="p-4 border border-light rounded d-flex align-items-center">
              <i class="icon-upload-cloud text-32 mr-3"></i>
              <div>
                <h4 class="text-18 mb-1">Space used</h4>
                <span>Total: 160GB</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-4 border border-light rounded d-flex align-items-center">
              <i class="icon-download1 text-32 mr-3"></i>
              <div>
                <h4 class="text-18 mb-1">Downloaded</h4>
                <span>Total: 30GB</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">

    <div class="card mb-4">

      <div class="card-header justify-content-between mb-1">

        <div class="info">
          <p class="title text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">TOP SALLING PRODUCTS</p>
          <p class="subtitle text-13 font-family-1 font-weight-400 line-height-1 mb-0">Lorem ipsum dolor sit amet
            consectetur.</p>
        </div>

        <div class="action">
          <div class="dropdown">
            <a href="" class="text-muted link-primary" type="button">
              <i class="icon-reload align-middle mr-1"></i>
            </a>
          </div>
        </div>

      </div>

      <div class="card-body">

        <div class="d-flex align-items-center border-bottom-dotted-dim pb-1 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/products/headphone-2.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">Wireless Headphone</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <span class="font-weight-bold text-primary text-16">$450</span>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-1 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/products/headphone-3.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">Headphone Black</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <span class="font-weight-bold text-warning text-16">$350</span>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-1 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/products/iphone-2.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">iPhone 6</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <span class="font-weight-bold text-danger text-16">$649</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <img class="avatar-md rounded mr-3" src="./assets/images/products/headphone-4.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">Headphone Red</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <span class="font-weight-bold text-secondary text-16">$150</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-lg-6 col-md-12">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <p class="card-title text-18 font-family-1 font-weight-400 line-height-1 mt-0 mb-2">Last Week Sales</p>
        <p class="text-24 text-primary font-weight-500 line-height-1 mb-1">$1250</p>
      </div>
      <div echarts [options]="chartOption1" [autoResize]="true" style="height: 260px;"></div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card card-chart-bottom o-hidden mb-4">
      <div class="card-body">
        <div class="card-title text-18 font-family-1 font-weight-400 line-height-1 mt-0 mb-2">Last Month Sales</div>
        <p class="text-24 text-primary font-weight-500 line-height-1 mb-1">$40250</p>
      </div>
      <div echarts [options]="chartOption2" [autoResize]="true" style="height: 260px;"></div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">

    <div class="card mb-4">

      <div class="card-header justify-content-between mb-1">

        <div class="info">
          <p class="title text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">TOP USERS</p>
          <p class="subtitle text-13 font-family-1 font-weight-400 line-height-1 mb-0">Lorem ipsum dolor sit amet
            consectetur.</p>
        </div>

        <div class="action">
          <div class="dropdown">
            <a href="" class="text-muted link-primary" type="button">
              <i class="icon-reload align-middle mr-1"></i>
            </a>
          </div>
        </div>

      </div>

      <div class="card-body">

        <div class="d-flex align-items-center border-bottom-dotted-dim pb-2 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/2.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">David Hopkins</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <button class="btn btn-outline-primary">Follow</button>
          </div>
        </div>

        <div class="d-flex align-items-center border-bottom-dotted-dim pb-2 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/3.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">James Mitchell</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <button class="btn btn-outline-primary">Follow</button>
          </div>
        </div>

        <div class="d-flex align-items-center border-bottom-dotted-dim pb-2 mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/4.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">John Doe</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <button class="btn btn-outline-primary">Follow</button>
          </div>
        </div>

        <div class="d-flex align-items-center mb-2">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/5.jpg" alt="">
          <div class="flex-grow-1">
            <h5 class="m-0 font-weight-500 text-muted">Dan Hill</h5>
            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
          <div>
            <button class="btn btn-outline-primary">Follow</button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title text-18 font-family-1 font-weight-400 line-height-1 mt-0 mb-4">Last Month Summary</div>

        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Portable Speaker</td>
                  <td class="font-weight-bold text-success">+ $1200</td>
                </tr>
                <tr>
                  <td>Portable Headphone</td>
                  <td class="font-weight-bold">In Stock</td>
                </tr>
                <tr>
                  <td>Speaker</td>
                  <td class="text-danger font-weight-bold">Out of stock</td>
                </tr>
                <tr>
                  <td>Watch</td>
                  <td class="text-warning font-weight-bold">Low stock</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div echarts [options]="chartDelivery" [autoResize]="true" style="height: 250px;"></div>

            <div class="row mt-3">
              <div class="col-lg-6">
                <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                  Complete:
                  <span class="text-success font-family-1 font-weight-600 ml-1">$7,454</span></p>
              </div>
              <div class="col-lg-6">
                <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                  Pending:
                  <span class="text-danger font-family-1 font-weight-600 ml-1">$7,454</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-1">

        <div class="info">
          <p class="title text-13 font-family-1 font-weight-500 mt-0 mb-1">THIS YEAR'S TOTAL REVENUE</p>
          <p class="subtitle text-13 font-family-1 font-weight-400 mb-0">Sales Performance for Online
            and Offline Revenue</p>
        </div>

        <div class="action">
          <div class="dropdown">
            <a href="" class="dropdown-toggle text-muted link-primary" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-menu5 align-middle mr-1"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#"><i class="icon-reload align-middle mr-1"></i> Reload Data</a>
              <a class="dropdown-item" href="#"><i class="icon-list1 align-middle mr-1"></i> Details Log</a>
              <a class="dropdown-item" href="#"><i class="icon-pie-chart1 align-middle mr-1"></i> Statistics</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""><i class="icon-x align-middle mr-1"></i> Clear List</a>
            </div>
          </div>
        </div>

      </div>

      <div class="card-body text-left pt-0">
        <div class="content">

          <div echarts [options]="chartRevenueYearly" [autoResize]="true" style="height: 320px;"></div>

        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-body text-left">
        <div class="content">
          <p class="title text-13 font-family-1 font-weight-500 mt-0 mb-1">SALES REVENUE BY CUSTOMERS
            COUNTRY</p>
          <p class="subtitle text-13 font-family-1 font-weight-400 mb-4">Sales Performance of popular
            countries</p>

          <div echarts [options]="chartRevenueCountry" [autoResize]="true" style="height: 300px;"></div>

        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-md-12">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-1">

        <div class="info">
          <p class="title text-gray text-16 font-family-1 font-weight-500 line-height-1 mt-0 mb-0">Delivery Orders</p>
        </div>

        <div class="action">
        </div>

      </div>

      <div class="card-body pt-0">
        <div class="content">
          <div echarts [options]="chartDelivery" [autoResize]="true" style="height: 280px;"></div>
          <p class="text-30 text-center text-orange font-family-1 font-weight-600 line-height-1 mt-0 mb-0">$14,572</p>
          <div class="row mt-2">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-package text-orange align-top"></i>
                Delivered:
                <span class="text-orange font-family-1 font-weight-600 ml-2">$7,454</span></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-box text-orange align-top"></i>
                Estimated:
                <span class="text-orange font-family-1 font-weight-600 ml-2">$7,454</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-6 col-md-12">

    <div class="card bm-card-12 o-hidden mb-4">

      <div class="card-body text-left">
        <div class="content">
          <p class="title text-15 font-family-1 font-weight-400 mt-0 mb-2">Top Referring & Destination Sites</p>

          <div class="row mt-1 ml-0 mr-0">

            <div class="data-chart">
              <div echarts [options]="chartLineOption12" [autoResize]="true" style="height: 335px;"></div>
            </div>

          </div>


        </div>
      </div>

    </div>

  </div>

</div>