.app-footer {
    margin-top: 2rem;
    background: $gray-100;
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .footer-bottom {

        .left-side {
            text-align: left;

            p {
                width: 100%;
            }
        }

        .right-side {
            text-align: right;
        }
    }
}

@media (max-width: 767px) {
    .footer-bottom {

        .left-side {
            text-align: center !important;
        }

        .right-side {
            text-align: center !important;
        }
    }
}