$font-family-heading: 'Roboto', sans-serif;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: .813rem;


// LAYOUT VARS
$topbar-height: 50px;
$topbar-height-mobile: 50px;

$sidebar-left-width: 50px;
$sidebar-left-secondary-width: 200px;
$side-clearance: 20px;

$sidebar-left-width-short: 50px;
$sidebar-left-width-wide: 200px;

// GLOBAL COLORS
$facebook: rgb(55, 101, 201);
$google: rgb(236, 65, 44);
$twitter: rgb(3, 159, 245);

$border-gray: #ddd;

$input-text-color: #444;