<div class="sidebar-left" perfectScrollbar>
  <ul class="navigation-left">
    <li [ngClass]="{active: item.active}" (click)="onClickChangeActiveFlag(item)" class="nav-item lvl1" *ngFor="let item of nav">
      <div class="nav-item-hold" routerLink="{{item.state}}" (click)="closeChildNav()" *ngIf="item.type === 'link'">
        <i class="material-icons">{{item.icon}}</i>
      </div>

      <div class="nav-item-hold" data-id="{{item.name}}" (click)="selectItem(item)" (mouseover)="previewSecondaryItem(item)"
        *ngIf="item.type === 'dropDown'">

        <div class="mat-icon">
          <i [class]="item.icon"></i>
          <span class="nav-text">{{item.name}}</span>
        </div>

      </div>

      <div class="nav-item-hold" *ngIf="item.type === 'extLink'">
        <a [href]="item.state" target="_blank">
          <i [class]="'nav-icon '+ item.icon "></i>
        </a>
      </div>

    </li>
  </ul>
</div>

<div class="sidebar-left-secondary" perfectScrollbar>
  <ng-container *ngTemplateOutlet="menuTemplate;context:{parentItem: selectedItem}"></ng-container>
</div>

<ng-template #menuTemplate let-parentItem="parentItem">

  <div class="sidebar-header">
    <div class="sidebar-logo d-inline-block">
      <img src="./assets/images/logo.png">
    </div>
    <p class="m-0 d-inline text-20 align-middle">{{parentItem?.name}}</p>
  </div>

  <ul class="childNav" appDropdown>
    <li *ngFor="let item of parentItem?.sub" appDropdownLink class="nav-item ">

      <a routerLink="{{item.state}}" *ngIf="item.type === 'link'" class="" routerLinkActive="open">
        <i [class]="'nav-icon '+ item.icon "></i>
        <span class="item-name lvl1">{{item.name}}</span>
      </a>

      <div *ngIf="item.type === 'dropDown'">
        <a appDropdownToggle class="" routerLinkActive="open">
          <i [class]="'nav-icon '+ item.icon "></i>
          <span class="item-name">{{item.name}}</span>
          <span class="dd-arrow lnr lnr-chevron-right"></span>
        </a>
        <ng-container *ngTemplateOutlet="menuTemplate;context:{parentItem: item}"></ng-container>
      </div>

    </li>
  </ul>
</ng-template>

<div class="sidebar-overlay"></div>