<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary font-weight-500"><i class="icon-layers1"></i> Forms</a></li>
    <li class="breadcrumb-item active" aria-current="page">Form Actions</li>
    <span class="spacer"></span>
    <li class="breadcrumb-item no-driver">
      <a href="" class="text-muted link-primary">
        <i class="icon-bubbles"></i> Support</a>
    </li>
    <li class="breadcrumb-item">

      <a href="#" class="dropdown-toggle text-muted link-primary" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="icon-cog"></i> Settings</a>

      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href=""><i class="icon-key"></i> Account Sicurity</a>
        <a class="dropdown-item" href=""><i class="icon-stats-dots"></i> Analytics</a>
        <a class="dropdown-item" href=""><i class="icon-accessibility"></i> Accessibility</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href=""><i class="icon-cog"></i> All settings</a>
      </div>

    </li>
  </ol>

</nav>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4">

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Left Align Buttons</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-12 text-left">
                <button class="btn btn-default mr-2" type="button">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Right Align Buttons</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name2" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email2" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password2" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea2" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-12 text-right">
                <button class="btn btn-default mr-2" type="button">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Left/Right Buttons</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name3" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email3" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password3" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea3" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-12 d-flex justify-content-between">
                <button class="btn btn-default mr-2" type="button">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

</div>

<div class="row mb-4">

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Text & Submit Button</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name4" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email4" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password4" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea4" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-8 d-flex justify-content-start">
                <p class="text-15 text-gray text-wrap mb-0"><i class="icon-user-check align-middle mr-1"></i>Some
                  message with icon</p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-primary ml-2" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Link & Button</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name5" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email5" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password5" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea5" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-8 d-flex justify-content-start">
                <button class="btn btn-link" type="button">Can't send message?</button>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-primary ml-2" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-15 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">Text & Submit Button</p>
        </div>

        <div class="action">
          <a href="" class="text-muted link-primary mr-2"><i class="icon-reload"></i></a>
          <a href="" class="text-muted link-primary"><i class="icon-close"></i></a>
        </div>

      </div>

      <div class="card-body pt-1">

        <div class="content">

          <form action="">

            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name6" placeholder="Jhon Doe">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Email</label>
                  <input type="email" class="form-control" id="email6" placeholder="Email">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Password</label>
                  <input type="password" class="form-control" id="password6" placeholder="Enter your password">
                </div>
              </div>

            </div>
            <div class="row mb-3">

              <div class="col-md-12">
                <div class="form-group">
                  <label for="firstName">Your Message</label>
                  <textarea class="form-control" id="textarea6" rows="4" placeholder="Enter your message"></textarea>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-8 d-flex justify-content-start">
                <p class="text-14 text-gray text-wrap mb-0"><i class="icon-spinner2 btn-icon-spinner mr-1 align-middle"></i>Processiong...</p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button class="btn btn-primary ml-2" type="submit">Submit<i class="icon-send text-13 ml-2 mr-0"></i></button>
              </div>

            </div>

          </form>


        </div>
      </div>

    </div>

  </div>

</div>