button.file-browse-button{
    padding: 12px 18px;
    background: #409ba1!important;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}