<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <input id="busqueda" placeholder="Búsqueda de proformas" [formControl]="searchControl" class="form-control" type="text">
    </div>
  </div>
</div>
<div class="row">
<div class="col-lg-8 col-md-12">
  <!-- div class="col-md-12" -->
      <div class="card eg-card-1 o-hidden mb-4">

        <div class="card-header justify-content-between mb-4">

            <div class="info">
              <p class="title text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-1">TRAMITES</p>
              <p class="subtitle text-13 font-family-1 font-weight-400 line-height-1 mb-0">Resumen de tramites</p>
            </div>

            <div class="action">
              <a class="text-muted link-primary" href="" id="dropdownMenuButton" type="button">
                <i class="icon-reload align-middle mr-0"></i>
              </a>
            </div>

        </div>
      
      <ngx-datatable
        style="box-shadow: none"
        class="bootstrap fullscreen"
        [rows]="listaProformas"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [scrollbarH]="true"
        [limit]="10">
        
        <ngx-datatable-column name="No. proforma" width="90" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.numProforma}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Referencia" width="90">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.numReferencia}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ingreso" width="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.fechaIngreso | date: 'dd/MM/yyyy'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripcion" width="290">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.descripcion}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Modelo"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.numModelo}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Evaluación precio"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.validPrecioTotal}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Predictamen"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.predictamen}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Aduana"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.aduana}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fracción"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fraccion}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="No. Factura"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.numFactura}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="UMC"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.UMC}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.cantidad}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Factor"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.factor}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Cantidad UMT"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.cantidadUmt}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valor Ant. Desc."width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.valorAntDesc}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Factor Desc."width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.factorDesc}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Moneda"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.moneda}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valor Mercancía"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.valorMercancia}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio unitario"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.precioUnitario}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="País Exportador"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.paisExportador}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="País Origen"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.paisOrigen}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Valor total"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.valorTotal}}
          </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Nombre exportador"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombreExportador}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Domicilio"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.domicilio}}
          </ng-template>
        </ngx-datatable-column>

        <!--ngx-datatable-column name="Observaciones"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.observaciones}}
          </ng-template>
        </ngx-datatable-column-->

        <ngx-datatable-column name="Fracción Mala"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fraccionMala}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio Mínimo"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.precioMinimo}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="FA Vetada"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.faVetada}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio estimado"width="290">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.precioEstimado}}
          </ng-template>
        </ngx-datatable-column>

        
      </ngx-datatable>

</div>
</div>
<!--
</div>
<div class="row">
-->
 <div class="col-lg-4 col-md-12">

   <div class="card eg-card-1 o-hidden mb-4">

     <div class="card-body text-center">
       <div class="content">
         <p class="title text-13 font-family-1 font-weight-500  mt-0 mb-1">SOLICITUD</p>
         <p class="subtitle text-13 font-family-1 font-weight-400 mb-2">Favor de llenar los
             siguientes datos.</p>
           <div class="card mb-4">
               <div class="card-body">
                   <form [formGroup]="formBasic" (ngSubmit)="submit()">
                       <div class="container">
                           <div class="row form-group mb-6">
                               <label for="firstName">No. Solicitud</label>
                               <input type="text" class="form-control" id="firstName" placeholder="No. de solicitud">
                           </div>

                           <div class="row form-group mb-6">
                               <label for="lastName">Permiso</label>
                               <input type="text" class="form-control" id="lastName" placeholder="Permiso">
                           </div>

                           <div class="row form-group mb-6">
                               <label for="picker1">Inicio Vigencia</label>
                               <div class="input-group">
                                   <input id="picker1" class="form-control" placeholder="aaaa-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                   <div class="input-group-append">
                                       <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                           <i class="icon-calendar2 mr-0"></i>
                                       </button>
                                   </div>
                               </div>
                           </div>

                           <div class="col-md-12">
                               <btn-loading btnClass="btn-primary" [loading]="loading">Submit</btn-loading>
                           </div>
                       </div>
                   </form>
               </div>
           </div>


       </div>
     </div>

   </div>

 </div>

 </div>


