<div class="breadcrumb">
  <h1>Default</h1>
  <ul>
    <li><a href="">Dashboard</a></li>
    <li>Bonus</li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">

  <div class="col-lg-6 col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-title m-0">Network Stats</div>
            <p class="text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                  <i class="icon-upload-cloud text-32 mr-3"></i>
                  <div>
                    <h4 class="text-18 font-weight-400 mb-1">Backups</h4>
                    <span>Total: 32</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                  <i class="icon-database1 text-32 mr-3"></i>
                  <div>
                    <h4 class="text-18 font-weight-400 mb-1">Databases</h4>
                    <span>Total: 302</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="p-4 border border-light rounded d-flex align-items-center">
                  <i class="icon-cloud1 text-32 mr-3"></i>
                  <div>
                    <h4 class="text-18 font-weight-400 mb-1">Space used</h4>
                    <span>Total: 160GB</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-4 border border-light rounded d-flex align-items-center">
                  <i class="icon-download-cloud text-32 mr-3"></i>
                  <div>
                    <h4 class="text-18 font-weight-400 mb-1">Downloaded</h4>
                    <span>Total: 30GB</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile-1 mb-4">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/faces/16.jpg" alt="">
            </div>
            <h5 class="m-0">Jassica Hike</h5>
            <p class="mt-0 text-muted">UI/UX Designer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.</p>
            <button class="btn btn-primary">Contact Jassica</button>
            <div class="card-socials-simple mt-4">
              <a href="">
                <i class="icon-linkedin2"></i>
              </a>
              <a href="">
                <i class="icon-facebook"></i>
              </a>
              <a href="">
                <i class="icon-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile-1 mb-4">
          <div class="card-body text-center">
            <div class="avatar box-shadow-2 mb-3">
              <img src="./assets/images/faces/2.jpg" alt="">
            </div>
            <h5 class="m-0">James Hike</h5>
            <p class="mt-0 text-muted">VR Developer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.</p>
            <button class="btn btn-primary">Contact James</button>
            <div class="card-socials-simple mt-4">
              <a href="">
                <i class="icon-linkedin2"></i>
              </a>
              <a href="">
                <i class="icon-facebook"></i>
              </a>
              <a href="">
                <i class="icon-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-ecommerce-3 o-hidden mb-4">
          <div class="d-flex">
            <div class="">
              <img class="card-img-left" src="./assets/images/photo-wide-1.jpg" alt="">
            </div>
            <div class="flex-grow-1 p-4">
              <h5 class="m-0 font-weight-500 text-muted mb-1">Produt featured</h5>
              <p class="m-0 text-11 font-weight-500 text-gray mb-1">By ABC Cafe</p>
              <p class="m-0">$40 <del>$55</del></p>
              <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nesciunt placeat esse tempore debitis.</p>
              <div class="actions">
                <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                  <i class="icon-cart align-middle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-ecommerce-3 o-hidden mb-4">
          <div class="d-flex">
            <div class="">
              <img class="card-img-left" src="./assets/images/photo-wide-2.jpg" alt="">
            </div>
            <div class="flex-grow-1 p-4">
              <h5 class="m-0 font-weight-500 text-muted mb-1">Produt featured</h5>
              <p class="m-0 text-11 font-weight-500 text-gray mb-1">By ABC Cafe</p>
              <p class="m-0">$40 <del>$55</del></p>
              <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Nesciunt placeat esse tempore debitis.</p>
              <div class="actions">
                <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                  <i class="icon-cart align-middle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-6 col-md-12">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="card bg-dark text-white o-hidden mb-4">
          <img class="" src="./assets/images/photo-long-1.jpg" alt="Card image">
          <div class="card-img-overlay">
            <div class="text-center pt-4">
              <h5 class="card-title mb-2">Card title</h5>
              <div class="separator border-top mb-2"></div>
              <p class="text-small font-italic">Last updated 3 mins ago</p>
            </div>
            <div class="p-1 text-left card-footer font-weight-light d-flex">
              <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
              <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="card bg-dark text-white o-hidden mb-4">
          <img class="" src="./assets/images/photo-long-2.jpg" alt="Card image">
          <div class="card-img-overlay">
            <div class="text-center pt-4">
              <h5 class="card-title mb-2">Card title</h5>
              <div class="separator border-top mb-2"></div>
              <p class="text-small font-italic">Last updated 3 mins ago</p>
            </div>
            <div class="p-1 text-left card-footer font-weight-light d-flex">
              <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
              <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2018</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h6 class="mb-0 text-primary">Subscription/Registration</h6>
            <p class="text-24 font-weight-light mb-1">20/80</p>
            <div echarts [options]="chartPie1" [autoResize]="true" style="height: 140px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h6 class="mb-0 text-danger">Project Running/Completed</h6>
            <p class="text-24 font-weight-light mb-1">40/60</p>
            <div echarts [options]="chartPie2" [autoResize]="true" style="height: 140px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <h6 class="mb-2">Last 7 days traffic status</h6>
            <p class="text-24 font-weight-light mb-1"><i class="i-Up text-success"></i> 15%</p>
            <div echarts [options]="chartBar1" [autoResize]="true" style="height: 60px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <h6 class="mb-2">Server failures</h6>
            <p class="text-24 font-weight-light mb-1"><i class="i-Down text-danger"></i> 5%</p>
            <div echarts [options]="chartBar1" [autoResize]="true" style="height: 60px;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <div class="row">

    <div class="col-lg-8 col-md-12 col-sm-12">

      <div class="card bm-card-2 o-hidden mb-4">

        <div class="card-body text-left">
          <div class="content">
            <p class="title text-15 font-family-1 font-weight-500 mt-0 mb-1">Your Most Recent Earnings</p>
            <p class="subtitle text-13 font-family-1 font-weight-400 mt-0 mb-4 mr-1">This is your most recent earnings
              for today's date.</p>

            <div class="data-table table-responsive">
              <table class="table table-striped table-dashboard-two">
                <thead>
                  <tr>
                    <th class="text-left">Date</th>
                    <th class="text-right">Sales Count</th>
                    <th class="text-right">Earnings</th>
                    <th class="text-right">Tax Witheld</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left">05 Oct 2018</td>
                    <td class="text-right font-weight-500">25</td>
                    <td class="text-right font-weight-500">$380.50</td>
                    <td class="text-right text-danger font-weight-500">-$23.50</td>
                  </tr>
                  <tr>
                    <td class="text-left">04 Oct 2018</td>
                    <td class="text-right font-weight-500">34</td>
                    <td class="text-right font-weight-500">$503.20</td>
                    <td class="text-right text-danger font-weight-500">-$13.45</td>
                  </tr>
                  <tr>
                    <td class="text-left">03 Oct 2018</td>
                    <td class="text-right font-weight-500">30</td>
                    <td class="text-right font-weight-500">$489.65</td>
                    <td class="text-right text-danger font-weight-500">-$20.98</td>
                  </tr>
                  <tr>
                    <td class="text-left">02 Oct 2018</td>
                    <td class="text-right font-weight-500">27</td>
                    <td class="text-right font-weight-500">$421.80</td>
                    <td class="text-right text-danger font-weight-500">-$22.22</td>
                  </tr>
                  <tr>
                    <td class="text-left">01 Oct 2018</td>
                    <td class="text-right font-weight-500">31</td>
                    <td class="text-right font-weight-500">$518.60</td>
                    <td class="text-right text-danger font-weight-500">-$23.01</td>
                  </tr>
                  <tr>
                    <td class="text-left">01 Oct 2018</td>
                    <td class="text-right font-weight-500">31</td>
                    <td class="text-right font-weight-500">$518.60</td>
                    <td class="text-right text-danger font-weight-500">-$23.01</td>
                  </tr>
                  <tr>
                    <td class="text-left">01 Oct 2018</td>
                    <td class="text-right font-weight-500">31</td>
                    <td class="text-right font-weight-500">$518.60</td>
                    <td class="text-right text-danger font-weight-500">-$23.01</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card bm-card-2 o-hidden mb-4">

        <div class="card-body text-left">
          <div class="content">
            <p class="title text-15 font-family-1 font-weight-500 mt-0 mb-1">Sales By Top Countries</p>
            <p class="subtitle text-13 font-family-1 font-weight-400 mt-0 mb-2">Sales performance revenue based on
              countries</p>

            <div class="data-list table-responsive">
              <table class="table table-striped table-dashboard-two">
                <tbody>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-us flag-icon-squared"></i>
                      <p class="text-13">United States</p>
                    </td>
                    <td class="text-right font-weight-500">$1,671.10</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
                      <p class="text-13">United Kingdom</p>
                    </td>
                    <td class="text-right font-weight-500">$1,551.40</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-au flag-icon-squared"></i>
                      <p class="text-13">Australia</p>
                    </td>
                    <td class="text-right font-weight-500">$1,401.85</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-ca flag-icon-squared"></i>
                      <p class="text-13">Canada</p>
                    </td>
                    <td class="text-right font-weight-500">$1,305.50</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-in flag-icon-squared"></i>
                      <p class="text-13">India</p>
                    </td>
                    <td class="text-right font-weight-500">$1,260.50</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-nl flag-icon-squared"></i>
                      <p class="text-13">Netherlands</p>
                    </td>
                    <td class="text-right font-weight-500">$1,175.95</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <i class="flag-icon flag-icon-de flag-icon-squared"></i>
                      <p class="text-13">Germany</p>
                    </td>
                    <td class="text-right font-weight-500">$1,079.90</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>


