<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary font-weight-500"><i class="icon-home"></i> Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Tramites</li>
    <span class="spacer"></span>
  </ol>
</nav>
<div class="separator-breadcrumb border-top"></div>

<div class="row">

  <div class="col-lg-3 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-box text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">213</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Total tramites</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-users1 text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">4,155</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites aceptados</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-layers text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">15,136<span
              class="text-13 ml-1">Pcs</span></p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites rechazados</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-home1 text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">585</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">tramites proceso</p>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-gray text-16 font-family-1 font-weight-500 line-height-1 mt-0 mb-0">Tramites</p>
        </div>

        <div class="action">

        </div>

      </div>

      <div class="card-body pt-0">
        <div class="content">
         <div echarts [options]="chartDelivery" [autoResize]="true" style="height: 300px;"></div>
        <!--<div echarts  style="height: 300px;"></div> --> 
          <p class="text-30 text-center text-orange font-family-1 font-weight-600 line-height-1 mt-0 mb-0">$14,572</p>
          <div class="row mt-3">
            <div class="col-lg-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-package text-orange align-top"></i>
                Delivered:
                <span class="text-orange font-family-1 font-weight-600 ml-2">$7,454</span></p>
            </div>
            <div class="col-lg-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-box text-orange align-top"></i>
                Estimated:
                <span class="text-orange font-family-1 font-weight-600 ml-2">$7,454</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>