<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="link-primary font-weight-500"><i class="icon-home"></i> Inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Trámites</li>
    <span class="spacer"></span>
  </ol>
</nav>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    
  <div class="col-md-3 form-group mb-3">
      <label for="fecha" >Fecha de ingreso</label>
      <input class="form-control" type="date" [(ngModel)]="fechaActual" (change)="fechaChange()"
       ngbTooltip="¡Busca las referencias por fecha!" tooltipClass="my-custom-class" placement="right">
  </div>
  
</div>
<div class="separator-breadcrumb"></div>

<!-- fila columnas viejas -->
<!-- <div class="row">

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center" (click)="mostrarReferencias()" (mouseover)="hover=true"
        (mouseleave)="hover=false" [ngStyle]="{ backgroundColor: hover==true  ? 'grey' : 'lightgrey' }">
        <div class="content">

          <i class="icon-box text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{tramitesTotales}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Total Referencias</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-box text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{tramitesTotales}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Total tramites</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-layers text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{aceptadas}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites aceptados</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-layers text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{rechazadas}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites rechazados</p>

        </div>

      </div>

    </div>

  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-layers text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{proceso}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites en proceso</p>

        </div>

      </div>

    </div>
    
  </div>

  <div class="col-lg-2 col-md-6 col-sm-6">

    <div class="card bm-card-10 o-hidden mb-4">

      <div class="card-body text-center">

        <div class="content">

          <i class="icon-layers text-orange text-50"></i>
          <p class="text-orange text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{espera}}</p>
          <p class="text-gray text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites en espera</p>

        </div>

      </div>

    </div>

  </div>

</div> -->

<div class="row">

  <div class="col-lg-6 col-md-12 col-sm-12">

    <!-- Grafica circular de tramites -->
    <div class="card eg-card-1 o-hidden mb-4">

      <div class="card-header justify-content-between mb-3">

        <div class="info">
          <p class="title text-gray text-16 font-family-1 font-weight-500 line-height-1 mt-0 mb-0">Trámites</p>
        </div>

        <div class="action">

        </div>

      </div>

      <div class="card-body pt-0">
        <div class="content">
          <div echarts [options]="chartDelivery" [autoResize]="true" style="height: 300px;"></div>
          <!--<div echarts  style="height: 300px;"></div> -->
          <p class="text-30 text-center text-green font-family-1 font-weight-600 line-height-1 mt-0 mb-0">
            {{totalTramites}}</p>
          <div class="row mt-3">
            <div class="col-lg-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-package text-green align-top"></i>
                Aceptadas:
                <span class="text-green font-family-1 font-weight-600 ml-2">{{aceptadas}}</span></p>
            </div>
            <div class="col-lg-6">
              <p class="text-15 text-center font-family-1 font-weight-500 line-height-1 mt-0 mb-1 text-gray">
                <i class="icon-box text-green align-top"></i>
                Rechazadas:
                <span class="text-green font-family-1 font-weight-600 ml-2">{{rechazadas}}</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- columna de las tarjetas a la derecha -->
  <div class="col-lg-6 col-md-12 col-sm-12">

    <!--primera fila tarjetas -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4" ngbTooltip="Ver el total de referencias capturadas" tooltipClass="my-custom-class"
         style="cursor: pointer;">

          <div class="card-body text-center" (click)="mostrarReferencias()" (mouseover)="hover=true"
            (mouseleave)="hover=false" [ngStyle]="{ backgroundColor: hover==true  ? 'lightgrey' :  'grey' } ">
            <div class="content">

              <i class="icon-books text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{referencias}}
              </p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Total Referencias</p>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4">

          <div class="card-body text-center">

            <div class="content">

              <i class="icon-layers text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{tramitesTotales}}
              </p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Total trámites</p>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4">

          <div class="card-body text-center">

            <div class="content">

              <i class="icon-check text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{aceptadas}}</p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Trámites aceptados</p>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!-- segunda fila tarjetas -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4">

          <div class="card-body text-center">

            <div class="content">

              <i class="icon-blocked text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{rechazadas}}</p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Trámites rechazados
              </p>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4">

          <div class="card-body text-center">

            <div class="content">

              <i class="icon-pencil text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{proceso}}</p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites en proceso
              </p>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">

        <div class="card bm-card-10 o-hidden mb-4">

          <div class="card-body text-center">

            <div class="content">

              <i class="icon-clock text-green text-50"></i>
              <p class="text-green text-25 font-family-1 font-weight-500 line-height-1 mt-2 mb-1">{{espera}}</p>
              <p class="text-gray-600 text-13 font-family-1 font-weight-500 line-height-1 mt-0 mb-0 ">Tramites en espera</p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- tabla de referencias -->
<div class="row" *ngIf=mostrarTablaReferencias>
  <!--div class="info col-md-2">
    <p class="title text-orange text-18 font-family-2 font-weight-500 line-height-1 mt-0 mb-0">Lista de Referencias</p>
  </div-->

  <div class="col-md-6">
      <div class="form-group"  ngbTooltip="¡Ingresa el texto que deseas buscar!"  placement="right" tooltipClass="my-custom-class">
          <label for="numProforma"><b>Filtro de Búsqueda:</b></label>
          <input id="busqueda" placeholder="Ingresa la información que deseas buscar y te mostraré los datos rápidamente" [formControl]="searchControl" class="form-control"
            type="text" >
        </div>
  </div>

  <div class="col-md-12">
      <div class="card  o-hidden">
    <ngx-datatable style="box-shadow: none" class="material fullscreen" [rows]="listaTotalReferencias"
      [columnMode]="'spacer'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" 
      (activate)="verReferencia($event)" [scrollbarH]="true" >
      <ngx-datatable-column name="Referencia" width="150" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.numReferencia}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tramites" width="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.totalTramites}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Aceptadas" width="90">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.tramitesAceptados}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Rechazadas" width="90">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.tramitesRechazados}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Procesos" width="90">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.tramitesProceso}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Espera" width="90">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.tramitesEspera}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    </div>
  </div>

</div>

<div class="separator-breadcrumb border-top"></div>

<!-- tabla de detalle de la referencia seleccionada -->
<div class="row" *ngIf=mostrarTablaDetalleReferencia>
          
          <div class="col-md-6">
              <div class="form-group">
                  <input id="busqueda" placeholder="Introduce el texto que deseas buscar y te proporcionaré los resultados rápidamente" [formControl]="searchControl" class="form-control"
                    type="text"  >
                </div>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-outline-success btn-sm glyphicon glyphicon-arrow-left" (click)="atras()"
              ngbTooltip="¡Vuelve a la búsqueda de referencias!" tooltipClass="my-custom-class" placement="right">Atras</button>    
          </div>
    

  <div class="col-md-12">
    <div class="card  o-hidden">
      <ngx-datatable style=" box-shadow: none" class="material fullscreen" [columnMode]="'force'"
        [headerHeight]="50" [limit]="10" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [rows]="listaProformas"
        [scrollbarH]="true">

        <ngx-datatable-column name="numReferencia" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            No.Referencia
          </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Fecha ingreso" [width]="autoResize">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.fechaIngreso | date: 'dd/MM/yyyy'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="descripcion" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Descripcion
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="aduana" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Aduana
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="fraccion" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Fracción
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="numFactura" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            No.Factura
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha Factura" [width]="autoResize">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.fechaFactura | date: 'dd/MM/yyyy'}}
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="cantidadUmc" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Cantidad UMC
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="cantidad" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Cantidad UMT
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="moneda" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Moneda Comercialización
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="valorMercancia" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Valor Mercancia
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="paisExportador" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Pais Exportador
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="paisOrigen" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Pais Origen
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="numeroSolicitud" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          No. Solicitud
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="permiso" [width]="autoResize">
        <ng-template ngx-datatable-header-template>
          Permiso
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Inicio Vigencia" [width]="autoResize">
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.inicioVigencia | date: 'dd/MM/yyyy'}}
          </ng-template>
      </ngx-datatable-column>

        <!-- <ngx-datatable-column name="numProforma" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            No. Proforma
          </ng-template>
        </ngx-datatable-column> -->

        <!--ngx-datatable-column name="idProforma" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Proforma
          </ng-template>
        </ngx-datatable-column-->

        <!-- <ngx-datatable-column name="validPrecioTotal" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Valid. Precio. Total
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="estatus" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Estatus
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="idAnalista" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Analista
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="idCapturista" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Capturista
          </ng-template>
        </ngx-datatable-column>
       
        <ngx-datatable-column name="numModelo" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            No.Modelo
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="umc" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            UMC
          </ng-template>
        </ngx-datatable-column>      

        <ngx-datatable-column name="factor" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Factor conv
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="valorAntDesc" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Valor ant. Desc.
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="factorDesc" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Factor Desc.
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="precioUnitario" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Preio Unitario
          </ng-template>
        </ngx-datatable-column>    

        <ngx-datatable-column name="valorTotal" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Valor Total
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="nombreExportador" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Nombre Exportador
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="domicilio" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Domicilio
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="observaciones" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Observaciones
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="fraccionMala" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Fracción Mala
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="precioMinimo" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Precio Mínimo
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="faVetada" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Fa Vetada
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="precioEstimado" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Precio Estimado
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="predictamen" [width]="autoResize">
          <ng-template ngx-datatable-header-template>
            Predictamen
          </ng-template>
        </ngx-datatable-column> -->

      </ngx-datatable>
    </div>
  </div>
</div>