<div class="card-body pt-3" *ngIf="!manual">
  <div class="row">
      
      <div class="col-md-4">
          <ngx-file-picker
          [adapter]="adapter"  
          [enableCropper]="false"
          (validationError)= "onValidationError($event)"
          [fileExtensions]="['xlsx']"
          (uploadSuccess) = "uploadSuccess($event)"   
        >
        </ngx-file-picker>
      </div>
      <div class="col-md-8">
        <div class="info" *ngIf="!manual">
            <div class="card-header justify-content-between mb-3">
              <div class="info">
                <h4 class="m-0 font-weight-bold text-muted">Validar trámites</h4>
                <br>
                <p class="subtitle text-13 font-family-1 font-weight-500 line-height-1 mb-0">
                  En esta sección puedes subir el reporte de trámites diarios emitidos por el SAT. Este reporte se validará
                  con la información registrada en sistema y en caso de existir errores estos se desplegarán en pantalla para que puedes corregirlos
                  y realizar nuevamente tu trámite.                              
                </p>
                <br>
                <p class="subtitle text-13 font-family-1 font-weight-500 line-height-1 mb-0">
                  Recuerda que únicamente se validarán aquellos trámites cuyo número de solicitud (trámite) haya sido previamente registrado por el capturista.
                  Para iniciar solo arrastra tu reporte a la sección de "Drag and Drop"
                </p>
                <br>
                  <div class="row">
                      <!--div class="col-md-2" >
                          <button type="button" class="btn btn-outline-success btn-sm" (click)="startProcessing()"
                          ngbTooltip="Presioname para procesar el archivo proporcionado" tooltipClass="my-custom-class" placement="right">Validar</button>
                      </div-->
                      <div class="col-md-2">
                          <button type="button" class="btn btn-info btn-sm" (click)="regresar()"
                        ngbTooltip="Presioname para ir a la plantilla de registro de trámite" tooltipClass="my-custom-class" placement="right">Regresar</button>    
                      </div>
                      
                  </div>
              </div>
            </div>
        </div>

        <div *ngIf="listaErrores">
            <ngx-datatable style="box-shadow: none" class="material fullscreen" [rows]="listaErrores" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [scrollbarH]="true" [limit]="5">
    
              <ngx-datatable-column name="Campo Inválido" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.campoInvalido}}
                </ng-template>
              </ngx-datatable-column>
      
              <ngx-datatable-column name="Valor Proforma" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.valorProforma}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Valor Reportado SAT" [width]="autoResize">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.valorReportado}}
                </ng-template>
              </ngx-datatable-column>
              
          </ngx-datatable>
        </div>
      </div>
  </div>
</div>